<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>SuntoriForm A5</title>

	<!-- Normalize or reset CSS with your favorite library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">

	<!-- Load paper.css for happy printing -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.2.3/paper.css">

	<!-- Set page size here: A5, A4 or A3 -->
	<!-- Set also "landscape" if you need -->
	<style>@page { size: A4 }</style>
	<script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>
</head>

<!-- Set "A5", "A4" or "A3" for class name -->
<!-- Set also "landscape" if you need -->
<body class="A4">
<style type="text/css">
#div1 {
    float:left;
    width:470px;
    height:450px;
    border:solid 0px red;
    text-align:left;
}
#div2 {
    float:left;
    width:245px;
    height:450px;
    border:solid 0px green;
    text-align:center;
}
</style>
<!-- Each sheet element should have the class "sheet" -->
<!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
<section class="sheet padding-10mm">

	<!-- Write HTML just like a web page -->
	<div style="background-image:url(/assets/img/formA5.png); position:absolute; left:37px; top:37px; width:730px; height:450px;" title="">
		<div id='div1'>

			{% if main.isCod %}
			<div style="margin-left: 350px; 
				margin-right: 30px;
				padding-left:10px;
				background-color: red"> 
				<h1>COD</h1>
			</div>
			{% endif %}

			{% if !main.isCod %}
			<div style="margin-left: 350px; 
				margin-right: 30px;
				padding-left:10px;
				background-color: white"> 
				<h1 style="color: white">COD</h1>
			</div>
			{% endif %}

			<div style="margin-left: 270px;
					margin-right: 0px;
					padding-left:10px;
					background-color: white">
				<h1>ระวังแตก!!!</h1>
			</div>

			<div style="margin-left:3em">
				<div style="margin-top:-80px">
					<h3>{{main.s_name}}</h3>
				</div>
				<div style="margin-top:-10px">
					<span>{{main.s_address}}</span>
				</div>
				<div style="margin-top: 10px">
					<span>{{main.s_ampher}}</span>
				</div>
				<div style="margin-top:10px">
					<span>{{main.s_country}}</span>
				</div>
				<br><br>
				<div style="margin-left:10em">
					<h1 style="margin-top:-20px">{{main.s_postcode}}</h1>
				</div>
			</div>
			<div style="margin-left:11em">
				<div style="margin-top:50px">
					<h3>{{main.r_name}} ({{main.r_tel}})</h3>
				</div>
				<div style="margin-top:-10px">
					<span>{{main.r_address}}</span>
				</div>
				<div style="margin-top:10px">
					<span>{{main.r_ampher}}</span>
				</div>
				<div style="margin-top:10px">
					<span>{{main.r_country}}</span>
				</div>
				<div style="margin-left:10em">
					<h1 style="margin-top:10px">{{main.r_postcode}}</h1>
				</div>
				<!--<div style="margin-left:10em">-->
					<!--<span>{{main.detail_Product}}</span>-->
				<!--</div>-->
			</div>
		</div>
		<div id='div2'>
			<div style="margin-top:150px">
				<svg class="barcode"
					 jsbarcode-value="{{main.order}}"
					 jsbarcode-textmargin="0"
					 jsbarcode-fontoptions="bold">
				</svg>
			</div>
			<div style="margin-top:-5px">
				<span>{{main.order}}</span>
			</div>
			<div style="margin-top:0px">
				<svg class="barcode"
					 jsbarcode-value="{{main.barcode}}"
					 jsbarcode-textmargin="0"
					 jsbarcode-fontoptions="bold">
				</svg>
			</div>
			<br>
			<div style="margin-top:-20px">
				<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{main.barcode}}</span>
			</div>

			<div style="margin-top:-5px">
				<h5>ไม่เก็บเงินค่าขนส่งสินค้า</h5>
			</div>

			<div class="text-danger" style="margin-top:-20px">
				<h1 style="color:#FF0000">COD {{main.codAmnt}} บาท</h1>
			</div>
		</div>

		<script type="text/javascript">
   JsBarcode(".barcode", "Smallest width", {
   width: 1.1,
   height: 45,
   fontSize: 0
 }).init();
   //JsBarcode("#barcode").init();
  </script>

</section>

</body>

</html>
