<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>SuntoriForm A4</title>

	<!-- Normalize or reset CSS with your favorite library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">

	<!-- Load paper.css for happy printing -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.2.3/paper.css">

	<!-- Set page size here: A5, A4 or A3 -->
	<!-- Set also "landscape" if you need -->
	<style>@page { size: A4 landscape }</style>
	<script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>
</head>

<!-- Set "A5", "A4" or "A3" for class name -->
<!-- Set also "landscape" if you need -->
<body class="A4 landscape">
<style type="text/css">
#div1 {
    float:left;
    width:680px;
    height:700px;
    border:solid 0px red;
    text-align:left;
}
#div2 {
    float:left;
    width:345px;
    height:700px;
    border:solid 0px green;
    text-align:center;
}
</style>
<!-- Each sheet element should have the class "sheet" -->
<!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
<section class="sheet padding-10mm">

	<!-- Write HTML just like a web page -->
	<div style="background-image:url(/assets/img/formA4.png); position:absolute; left:37px; top:70px; width:1050px; height:650px;" title="">
		<div id='div1'>
			<br>
			<div style="margin-left:3em">
				<div style="margin-top:80px">
					{% if main.isCod %}
					<div style="margin-left: 500px;
					margin-right: 40px;
					padding-left:10px;
					background-color: red">
						<h1>COD</h1>
					</div>
					{% endif %}

					{% if !main.isCod %}
					<div style="margin-left: 500px;
					margin-right: 40px;
					padding-left:10px;
					background-color: white">
						<h1 style="color: white">COD</h1>
					</div>
					{% endif %}

					<div style="margin-left: 410px;
					margin-right: 40px;
					margin-top: 50px;
					padding-left:10px;
					background-color: white">
						<h1>ระวังแตก!!!</h1>
					</div>
				</div>


				<div style="margin-top:-160px">
					<h1>{{main.s_name}}</h1>
				</div>

				<div style="margin-top:-10px">
					<h3>{{main.s_address}}</h3>
				</div>
				<div style="margin-top:-10px">
					<h3>{{main.s_ampher}}</h3>
				</div>
				<div style="margin-top:-10px">
					<h3>{{main.s_country}} {{main.s_postcode}}</h3>
				</div>
			</div>
			<div style="margin-left:15em">
				<br><br>
				<div style="margin-top:100px">
					<h1>{{main.r_name}}</h1>
				</div>
				<div style="margin-top:0px">
					<h2>โทร {{main.r_tel}}</h2>
				</div>
				<div style="margin-top:-10px">
					<h3>{{main.r_address}}</h3>
				</div>
				<div style="margin-top:-10px">
					<h3>{{main.r_ampher}}</h3>
				</div>
				<div style="margin-top:-10px">
					<h3>{{main.r_country}}</h3>
				</div>
				<div style="margin-left:0em">
					<h1 style="margin-top:10px">{{main.r_postcode}}</h1>
				</div>
			</div>
		</div>
		<div id='div2'>
			<div style="margin-top:180px">
				<div style="margin-top:-8px">
					<p style="font-size: 11px">บริการจัดส่งพัสดุด่วนเพื่อธุรกิจ e-Commerce (บริการ e-Parcel)</p>
				</div>
				<div style="margin-top:-9px">
					<p style="font-size: 11px">ใบอนุญาตสำหรับลูกค้าธุรกิจ เลขที่ ขล. 11/2560 </p>
				</div>
				<div style="margin-top:-9px">
					<p style="font-size: 11px">ชำระค่าบริการตามที่ ปณท กำหนด </p>
				</div>
			</div>
			<div style="margin-top:-5px">
				<svg class="barcode"
					 jsbarcode-value="{{main.order}}"
					 jsbarcode-textmargin="0"
					 jsbarcode-fontoptions="bold">
				</svg>
			</div>
			<div style="margin-top:-25px">
				<h3>{{main.order}}</h3>
			</div>
			<div style="margin-top:-20px">
				<svg class="barcode"
					 jsbarcode-value="{{main.barcode}}"
					 jsbarcode-textmargin="0"
					 jsbarcode-fontoptions="bold">
				</svg>
			</div>
			<br>
			<div style="margin-top:-40px">
				<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{main.barcode}}</h3>
			</div>

			<div style="margin-top:25px">
				<h2>ชำระค่าขนส่งสินค้าแล้ว</h2>
			</div>

			<div class="text-danger" style="margin-top:-10px">
				<h1 style="color:#FF0000">COD {{main.productPrice}} บาท</h1>
			</div>
		</div>

		<script type="text/javascript">
   JsBarcode(".barcode", "Smallest width", {
   width: 1.5,
   height: 75,
   fontSize: 0
 }).init();
   //JsBarcode("#barcode").init();
  </script>

</section>

</body>

</html>
