<!-- <section>
  <div class="page-header">
    <h1>Statements</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="statement in vm.statements"
       ui-sref="statements.view({ statementId: statement._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="statement.created | date:'mediumDate'"></span>
        by
        <span ng-if="statement.user" ng-bind="statement.user.displayName"></span>
        <span ng-if="!statement.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="statement.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.statements.$resolved && !vm.statements.length">
    No Statements yet, why don't you <a ui-sref="statements.create">create one</a>?
  </div>
</section> -->

<div>
  <div layout="column" style="height: 1000px;">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <div class="md-toolbar-tools">
          <md-button ng-disabled="true" class="md-primary" data-ng-show="authentication.user">
            <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image"/>
            <span md-is-locked-open="$mdMedia('gt-sm')" class="md-body-2" data-ng-bind="authentication.user.displayName"></span>
          </md-button>
        </div>
      </md-toolbar>

      <md-content layout-margin>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button md-primary" aria-label="Settings" data-ui-sref="settings.profile">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">แก้ไขข้อมูล</md-tooltip>
            <md-icon md-svg-icon="pencil"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-accent" aria-label="Favorite" data-ui-sref="settings.picture">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรูปภาพ</md-tooltip>
            <md-icon md-svg-icon="picture"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-warning" aria-label="More" data-ui-sref="settings.password">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรหัสผ่าน</md-tooltip>
            <md-icon md-svg-icon="key"></md-icon>
          </md-button>
          <md-button ng-click="toggleLeft()" class="md-accent">
            ปิดแถบเมนู
          </md-button>
        </md-card-actions>
        <ul class="nav side-menu">
          <a class="list-group-item" data-ui-sref="home">
            <h6>
              <i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; หน้าหลัก</h6>
          </a>
          <a class="list-group-item" data-ui-sref="mains.list">
            <h6>
              <i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; ค้างชำระ</h6>
          </a>
          <a class="list-group-item" data-ui-sref="mains.create">
            <h6>
              <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; เพิ่มรายการ</h6>
          </a>
          <a class="list-group-item" data-ui-sref="recipients.list">
            <h6>
              <i class="fa fa-street-view fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้รับ</h6>
          </a>
          <a class="list-group-item" data-ui-sref="sends.list">
            <h6>
              <i class="fa fa-child fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้ส่ง</h6>
          </a>
          <a class="list-group-item" data-ui-sref="mains.summary">
            <h6>
              <i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; ประวัติการใช้งาน</h6>
          </a>
          <a class="list-group-item" data-ui-sref="mains.payment">
            <h6>
              <i class="fa fa-money fa-fw" aria-hidden="true"></i>&nbsp; การเงินย้อนหลัง</h6>
          </a>
        </ul>
      </md-content>

    </md-sidenav>

    <!-- Container #4 Right -->
    <md-content flex id="content">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <!--User Login -->
        <div class="x_panel">
          <div class="x_title">
            <h2>ประวัติการชำระเงิน
              <small>ตรวจสอบประวัติการชำระเงิน</small>
            </h2>
            <div class="col-md-3">
              <div class="input-group">
                <input ng-model="searchText" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div>
              <!-- /input-group -->
            </div>
            <div class="col-md-2">
              <md-datepicker ng-model="startDate" ng-change="startDateChanged()"></md-datepicker>
            </div>
            <div class="col-md-2">
              <md-datepicker ng-model="endDate" ng-change="endDateChanged();"></md-datepicker>
            </div>
            <div class="nav navbar-right panel_toolbox">
              <button type="button" class="btn btn-mg btn-primary" ng-click="todaySet()">วันนี้</button>
              <button type="button" class="btn btn-mg btn-default">Export Excel</button>
            </div>
            <ul class="nav navbar-right panel_toolbox">
              <div class="text-center mtop20">

                <!--<ul class="nav navbar-right panel_toolbox">-->
                <!--<button type="button" class="btn btn-mg btn-default" ng-click="toggleLeft()">เปิดแถบเมนู</button>-->
                <!--</ul>-->
                <!--<button type="button" class="btn btn-mg btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">Export Excel</button>-->
              </div>
            </ul>

            <div class="clearfix"></div>
            <div class="x_content">
              <br />
              <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th class="md-caption">วันที่ </th>
                      <th class="md-caption">เจ้าของบัญชี </th>
                      <th class="md-caption">รายการการใช้งาน</th>
                      <th class="md-caption">ยอดเงินเข้า </th>
                      <th class="md-caption">ยอดเงินออก </th>
                      <th class="md-caption">ยอดเงินคงเหลือ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="even pointer" ng-repeat="statement in vm.statements">
                      <td class="md-caption" ng-bind="statement.created | date:'mediumDate'"></td>
                      <td class="md-caption" ng-bind="statement.user.displayName"></td>
                      <td class="md-caption" ng-bind="statement.name"></td>
                      <td class="md-caption" ng-bind="statement.amountIn | number: 2"></td>
                      <td class="md-caption" ng-bind="statement.amountOut | number: 2"></td>
                      <td class="md-caption" ng-bind="statement.balanceAmount  | number: 2"></td>
                    </tr>
                  </tbody>
                </table>

                <div class="alert alert-warning text-center" data-ng-if="mains.$resolved && !mains.length">
                  <button type="button" class="btn btn-mg btn-warning" data-toggle="modal" data-target=".bs-example-modal-lg" data-ui-sref="mains.create">ยังไม่มีรายการในระบบ... คลิกเพื่อเพิ่มรายการ</button>
                </div>

              </div>
              <div class="text-center form-group">
                <ul uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></ul>
              </div>
            </div>
            <!-- End x_content -->
          </div>
        </div>
      </div>
    </md-content>
  </div>
</div>