<div data-ng-controller="HomeController" data-ng-init="find('coreHome') ; setBalanceAmt();">
  <!-- HomePage -->
  <div flex layout="column" data-ng-hide="authentication.user">
    <md-content>
      <!--Modal box-->
      <div class="modal fade" id="login" role="dialog">
        <div class="modal-dialog modal-sm">

          <!-- Modal content no 1-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title text-center form-title">Login</h4>
            </div>
            <div class="modal-body padtrbl">

              <div class="login-box-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <div class="form-group">
                  <form name="" id="loginForm">
                    <div class="form-group has-feedback">
                      <!----- username -------------->
                      <input class="form-control" placeholder="Username" id="loginid" type="text" autocomplete="off" />
                      <span style="display:none;font-weight:bold; position:absolute;color: red;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;"
                        id="span_loginid"></span>
                      <!---Alredy exists  ! -->
                      <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                      <!----- password -------------->
                      <input class="form-control" placeholder="Password" id="loginpsw" type="password" autocomplete="off" />
                      <span style="display:none;font-weight:bold; position:absolute;color: grey;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;"
                        id="span_loginpsw"></span>
                      <!---Alredy exists  ! -->
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="checkbox icheck">
                          <label>
                            <input type="checkbox" id="loginrem"> Remember Me
                          </label>
                        </div>
                      </div>
                      <div class="col-xs-12">
                        <button type="button" class="btn btn-green btn-block btn-flat" onclick="userlogin()">Sign In</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!DOCTYPE html>
      <html lang="en">

      <head>
        <meta charset="utf-8">
        <title>Suntori Express</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">

        <!-- Favicons -->
        <link href="img/favicon.png" rel="icon">
        <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

        <!--&lt;!&ndash; Bootstrap CSS File &ndash;&gt;-->
        <!-- <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

        <!--&lt;!&ndash; Libraries CSS Files &ndash;&gt;-->
        <!-- <link href="lib/animate/animate.min.css" rel="stylesheet"> -->
        <!-- <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet"> -->
        <!-- <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet"> -->
        <!-- <link href="lib/magnific-popup/magnific-popup.css" rel="stylesheet"> -->

        <!-- Main Stylesheet File -->
        <!-- <link href="css/style.css" rel="stylesheet"> -->

        <!-- =======================================================
          Theme Name: Avilon
          Theme URL: https://bootstrapmade.com/avilon-bootstrap-landing-page-template/
          Author: BootstrapMade.com
          License: https://bootstrapmade.com/license/
        ======================================================= -->
      </head>

      <body>
        <!--==========================
        Header
      ============================-->
        <header id="header">
          <div class="container">

            <div id="logo" class="pull-left">
              <h1>
                <a href="#intro" class="scrollto"></a>
              </h1>
              <!-- Uncomment below if you prefer to use an image logo -->
              <!--<a href="#intro"><img src="img/logo.png" alt="" title=""></a>-->
            </div>

            <!-- #nav-menu-container -->
          </div>
        </header>
        <!-- #header -->
        <!--==========================
        Intro Section
      ============================-->
        <section id="intro">

          <div class="intro-text" style="margin-top:100px">
            <h2>Suntori Express</h2>
            <div class="row" data-ng-hide="authentication.user">
              <div class="col-md-offset-0 col-md-12 col-xs-offset-2 col-xs-8 login-form-bg">
                <h3 class="text-center">ค้นหาเลขพัสดุ</h3>
                <div data-ng-controller="MainsController" data-ng-init="find('summary')">
                  <form ng-submit="$event.preventDefault()">
                    <h6 class="md-caption">กรุณาพิมพ์หมายเลขพัสดุ 13 หลัก โดยไม่ต้องเว้นวรรค (เช่น EY640000001TH)</h6>
                    <md-autocomplete placeholder='ค้นหาผู้ส่ง' md-selected-item="selectedBarcode" md-search-text="searchText" md-items="item in getBarcode(searchText)"
                      md-item-text="item.barcode" md-selected-item-change="setBarcodeData(selectedBarcode)" md-clear-button=f
                      alse>
                      <span md-highlight-text="searchText">{{item.barcode}}</span>
                      <md-not-found>
                        ไม่พบเลขพัสดุ "{{searchText}}" ในระบบ.
                        <a data-ui-sref="mains.create">เพิ่มรายการ!</a>
                      </md-not-found>
                    </md-autocomplete>
                    <br />
                    <div class="table-responsive" ng-show="barcodes">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                            <th class="md-caption">วันที่ </th>
                            <th class="md-caption">Tracking No.</th>
                            <th class="md-caption">ผู้ส่ง </th>
                            <th class="md-caption">ผู้รับ </th>
                            <th class="md-caption">เบอร์โทร </th>
                            <th class="md-caption">นน.ก่อน </th>
                            <th class="md-caption">นน.หลัง </th>
                            <th class="md-caption">ค่าส่งก่อน </th>
                            <th class="md-caption">ค่าส่งหลัง </th>
                            <th class="md-caption">ส่วนต่าง </th>
                            <th class="md-caption">ค่าประกัน </th>
                            <th class="md-caption">Comment </th>
                            <th class="md-caption">สถานะจัดส่ง </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="even pointer" data-ng-repeat="barcode in barcodes">
                            <td class="md-caption" ng-bind="barcode.created | date:'mediumDate'"></td>
                            <td class="md-caption" ng-bind="barcode.barcode"></td>
                            <td class="md-caption" ng-bind="barcode.s_name"></td>
                            <td class="md-caption" ng-bind="barcode.r_name"></td>
                            <td class="md-caption" ng-bind="barcode.r_tel"></td>
                            <td class="md-caption" ng-bind="barcode.weight"></td>
                            <td class="md-caption" ng-bind="barcode.tpWeight"></td>
                            <td class="md-caption" ng-bind="barcode.total"></td>
                            <td class="md-caption">{{ barcode.tpWeight | afterPrice :barcode.total :barcode.s_country :barcode.r_country :price}}</td>
                            <td class="md-caption">{{ barcode.tpWeight | diffPrice :barcode.total :barcode.s_country :barcode.r_country :price}}</td>
                            <td class="md-caption" ng-bind="barcode.insuranceAmnt"></td>
                            <td class="md-caption" ng-bind="barcode.detail_Product"></td>
                            <td>
                              <a class="btn btn-info btn-xs">
                                <i class="fa fa-money"></i> {{ barcode.barcode | updateStatus}} {{barcode.status}}</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <br />

            <p>เรื่องเดลิเวอรี่ ซันโตริจัดให้</p>
            <p class="section-description">
              <small>ระบบส่งสินค้าทั่วประเทศไทยผ่านจุดไปรษณีย์ใกล้บ้านท่าน 230 แห่งทั่วประเทศ
                <br> ไม่ต้องต่อคิวส่งพัสดุให้เสียเวลา คุ้มค่าทุกนาทีใช้ซันโตริ เอ็กซ์เพรส</small>
            </p>

            <div>
              <a data-ui-sref="authentication.signin" class="btn-get-started scrollto">เข้าสู่ระบบ</a>
              <a data-ui-sref="authentication.signup" class="btn-get-started scrollto">สมัครสมาชิก</a>
            </div>
          </div>

        </section>
        <!-- #intro -->

      </body>

      </html>

    </md-content>
  </div>

  <div data-ng-show="authentication.user">

    <div layout="column" style="height: 600px;">

      <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
          <div class="md-toolbar-tools">
            <md-button ng-disabled="true" class="md-primary" data-ng-show="authentication.user">
              <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image"
              />
              <span md-is-locked-open="$mdMedia('gt-sm')" class="md-body-2" data-ng-bind="authentication.user.displayName"></span>
            </md-button>
          </div>
        </md-toolbar>

        <md-content layout-margin>
          <md-card-actions layout="row" layout-align="end center">

            <md-button class="md-icon-button md-primary" aria-label="Settings" data-ui-sref="settings.profile">
              <md-tooltip md-direction="top" md-visible="tooltipVisible">แก้ไขข้อมูล</md-tooltip>
              <md-icon md-svg-icon="pencil"></md-icon>
            </md-button>
            <md-button class="md-icon-button md-accent" aria-label="Favorite" data-ui-sref="settings.picture">
              <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรูปภาพ</md-tooltip>
              <md-icon md-svg-icon="picture"></md-icon>
            </md-button>
            <md-button class="md-icon-button md-warning" aria-label="More" data-ui-sref="settings.password">
              <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรหัสผ่าน</md-tooltip>
              <md-icon md-svg-icon="key"></md-icon>
            </md-button>
            <md-button ng-click="toggleLeft()" class="md-accent">
              ปิดแถบเมนู
            </md-button>
          </md-card-actions>
          <ul class="nav side-menu">
            <a class="list-group-item" data-ui-sref="home">
              <h6>
                <i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; หน้าหลัก</h6>
            </a>
            <a class="list-group-item" data-ui-sref="mains.list">
              <h6>
                <i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; ค้างชำระ</h6>
            </a>
            <a class="list-group-item" data-ui-sref="mains.create">
              <h6>
                <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; เพิ่มรายการ</h6>
            </a>
            <a class="list-group-item" data-ui-sref="recipients.list">
              <h6>
                <i class="fa fa-street-view fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้รับ</h6>
            </a>
            <a class="list-group-item" data-ui-sref="sends.list">
              <h6>
                <i class="fa fa-child fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้ส่ง</h6>
            </a>
            <a class="list-group-item" data-ui-sref="mains.summary">
              <h6>
                <i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; ประวัติการใช้งาน</h6>
            </a>
            <a class="list-group-item" data-ui-sref="mains.payment">
              <h6>
                <i class="fa fa-money fa-fw" aria-hidden="true"></i>&nbsp; การเงินย้อนหลัง</h6>
            </a>
          </ul>
        </md-content>

      </md-sidenav>

      <md-content flex id="content">

        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel fixed_height_320">
                  <div class="row" data-ng-show="authentication.user">
                    <div class="col-md-offset-0 col-md-12 col-xs-offset-2 col-xs-8 login-form-bg">
                      <h3 class="text-center">ค้นหาเลขพัสดุ</h3>
                      <div data-ng-controller="MainsController" data-ng-init="find('summary')">
                        <form ng-submit="$event.preventDefault()">
                          <h6 class="text-center">กรุณาพิมพ์หมายเลขพัสดุ 13 หลัก โดยไม่ต้องเว้นวรรค (เช่น EY640000001TH)</h6>
                          <md-autocomplete placeholder='กรอกเลขพัสดุ' md-selected-item="selectedMain" md-search-text="s" md-items="item in getBarcode(s)"
                            md-item-text="item.barcode" md-no-cache=true md-selected-item-change="setBarcodeData(selectedMain)">

                            <span md-highlight-text="searchText">{{item.barcode}}</span>
                            <md-not-found>
                              ไม่พบเลขพัสดุ "{{searchText}}" ในระบบ.
                              <a data-ui-sref="mains.create">เพิ่มรายการ!</a>
                            </md-not-found>
                          </md-autocomplete>

                          <br />

                          <div class="table-responsive" ng-show="barcodes">
                            <table class="table table-striped jambo_table bulk_action">
                              <thead>
                                <tr class="headings">
                                  <th class="md-caption">วันที่ </th>
                                  <th class="md-caption">Tracking No.</th>
                                  <th class="md-caption">ผู้ส่ง </th>
                                  <th class="md-caption">ผู้รับ </th>
                                  <th class="md-caption">เบอร์โทร </th>
                                  <th class="md-caption">นน.ก่อน </th>
                                  <th class="md-caption">นน.หลัง </th>
                                  <th class="md-caption">ค่าส่งก่อน </th>
                                  <th class="md-caption">ค่าส่งหลัง </th>
                                  <th class="md-caption">ส่วนต่าง </th>
                                  <th class="md-caption">ค่าประกัน </th>
                                  <th class="md-caption">Comment </th>
                                  <th class="md-caption">สถานะจัดส่ง </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="even pointer" data-ng-repeat="barcode in barcodes">
                                  <td class="md-caption" ng-bind="barcode.created | date:'mediumDate'"></td>
                                  <td class="md-caption" ng-bind="barcode.barcode"></td>
                                  <td class="md-caption" ng-bind="barcode.s_name"></td>
                                  <td class="md-caption" ng-bind="barcode.r_name"></td>
                                  <td class="md-caption" ng-bind="barcode.r_tel"></td>
                                  <td class="md-caption" ng-bind="barcode.weight"></td>
                                  <td class="md-caption" ng-bind="barcode.tpWeight"></td>
                                  <td class="md-caption" ng-bind="barcode.total"></td>
                                  <td class="md-caption">{{ barcode.tpWeight | afterPrice :barcode.total :barcode.s_country :barcode.r_country :price}}</td>
                                  <td class="md-caption">{{ barcode.tpWeight | diffPrice :barcode.total :barcode.s_country :barcode.r_country :price}}</td>
                                  <td class="md-caption" ng-bind="barcode.insuranceAmnt"></td>
                                  <td class="md-caption" ng-bind="barcode.detail_Product"></td>
                                  <td>
                                    <a class="btn btn-info btn-xs">
                                      <i class="fa fa-money"></i> {{ barcode.barcode | updateStatus}} {{barcode.status}}</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel fixed_height_320">
                  <div class="x_title">
                    <h2>สรุปการใช้งานระบบ
                      <small></small>
                    </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <div class="title_right">
                        <ul class="nav navbar-right panel_toolbox">
                        </ul>
                      </div>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <!-- top tiles -->
                  <div class="row tile_count" data-ng-controller="MainsController" data-ng-init="find(); setBalanceAmt();">
                    <div class="col-md-4 col-sm-6 col-xs-6 tile_stats_count">
                      <span class="count_top">
                        <i class="fa fa-user"></i> เงินคงเหลือ</span>
                      <div class="count">{{balanceAmount | number:2}}</div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-6 tile_stats_count" data-ng-controller="HomeController" data-ng-init="find('summary'); setTotalMains();">
                      <span class="count_top">
                        <i class="fa fa-clock-o"></i> จำนวนการใช้งาน</span>
                      <div class="count">{{totalMains}}</div>
                    </div>
                    <!--<tr class="even pointer" data-ng-repeat="main in mains | filter:user.username + searchText" data-ng-show="authentication.user._id == main.user._id && main.status === 'นำจ่ายถึงผู้รับแล้ว'">-->

                    <div class="col-md-4 col-sm-6 col-xs-6 tile_stats_count">
                      <span class="count_top">
                        <i class="fa fa-clock-o"></i> คลิกเพื่อเพิ่มรายการ</span>
                      <div>
                        <button type="button" class="btn btn-lg btn-default" data-toggle="modal" data-target=".bs-example-modal-lg" data-ui-sref="mains.create">เพิ่มรายการ</button>
                      </div>
                    </div>
                  </div>
                  <div class="row tile_count">
                    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                      <!--<span class="count_top"><i class="fa fa-user"></i> ส่งสำเร็จ</span>-->
                      <!--<div class="count">2,500</div>-->
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                      <!--<span class="count_top"><i class="fa fa-clock-o"></i> ส่งค้าง</span>-->
                      <!--<div class="count">123.50</div>-->
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
                      <!--<span class="count_top"><i class="fa fa-user"></i> ส่งคืน</span>-->
                      <!--<div class="count green">2,500</div>-->
                    </div>
                  </div>
                </div>
              </div>
              <!-- /page content -->
            </div>
          </div>
        </div>

      </md-content>
    </div>
  </div>

</div>