<!--<div flex layout="row" data-ng-controller="HomeController as ul">-->

  <!--&lt;!&ndash; Container #3 Left &ndash;&gt;-->
  <!--<md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"-->
              <!--class="md-whiteframe-z2" data-ng-show="authentication.user">-->

    <!--<md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" md-theme-watch>-->
      <!--<md-card-title>-->
        <!--<md-card-title-text>-->
          <!--<span class="md-headline" data-ng-bind="authentication.user.displayName"></span>-->
          <!--<span class="md-subhead">Medium</span>-->
        <!--</md-card-title-text>-->
        <!--<md-card-title-media>-->
          <!--<img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="md-media-md card-media" />-->
        <!--</md-card-title-media>-->
      <!--</md-card-title>-->

      <!--<md-card-actions layout="row" layout-align="start center">-->
        <!--<md-button>สมัครสมาชิก</md-button>-->
        <!--<md-button>เข้าสู่ระบบ</md-button>-->
      <!--</md-card-actions>-->

      <!--<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>-->
        <!--<md-button class="md-icon-button md-primary" aria-label="Settings">-->
          <!--<md-icon md-svg-icon="img/icons/facebook.svg"></md-icon>-->
        <!--</md-button>-->
        <!--<md-button class="md-icon-button md-accent" aria-label="Favorite">-->
          <!--<md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>-->
        <!--</md-button>-->
        <!--<md-button class="md-icon-button" aria-label="More">-->
          <!--<md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>-->
        <!--</md-button>-->
        <!--<md-button href="http://google.com"-->
                   <!--title="Launch Google.com in new window"-->
                   <!--target="_blank"-->
                   <!--ng-disabled="true"-->
                   <!--aria-label="Google.com"-->
                   <!--class="md-icon-button launch" >-->
          <!--<md-icon md-svg-icon="img/icons/launch.svg"></md-icon>-->
        <!--</md-button>-->
        <!--<div class="label">Icon Button</div>-->
      <!--</section>-->


    <!--</md-card>-->
    <!--<md-card-actions layout="column" layout-align="start">-->
      <!--<md-button>สร้างรายการ</md-button>-->
      <!--<md-button>เพิ่มข้อมูลผู้รับ</md-button>-->
      <!--<md-button>เพิ่มข้อมูลผู้ส่ง</md-button>-->
      <!--<md-button>ประวัติการใช้งาน</md-button>-->
    <!--</md-card-actions>-->
  <!--</md-sidenav>-->

  <!--&lt;!&ndash; Container #4 Right &ndash;&gt;-->
  <!--<md-content flex id="content">-->
    <!--&lt;!&ndash; User details sample &ndash;&gt;-->
    <!--<md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>-->
    <!--<h2>{{ul.selected.name}}</h2>-->
    <!--<p>{{ul.selected.content}}</p>-->

    <!--<md-button class="share" md-no-ink ng-click="ul.share($event)"-->
               <!--aria-label="Share">-->
      <!--<md-icon md-svg-icon="share" ></md-icon>-->
    <!--</md-button>-->
  <!--</md-content>-->
<!--</div>-->


<div flex layout="row" data-ng-controller="HomeController as ul">

  <!-- Container #3 Left -->
  <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
              class="md-whiteframe-z2">
    <md-list>
      <md-item ng-repeat="it in ul.users">
        <md-button ng-click="ul.selectUser(it)"
                   ng-class="{'selected' : it === ul.selected }">
          <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
          {{it.name}}
        </md-button>
      </md-item>
    </md-list>
  </md-sidenav>

  <!-- Container #4 Right -->
  <md-content flex id="content">
    <!-- User details sample -->
    <md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>
    <h2>{{ul.selected.name}}</h2>
    <p>{{ul.selected.content}}</p>

    <md-button class="share" md-no-ink ng-click="ul.share($event)"
               aria-label="Share">
      <md-icon md-svg-icon="share" ></md-icon>
    </md-button>
  </md-content>
</div>
