<div flex layout="row" data-ng-controller="HomeController">

  <!-- Container #3 Left -->
  <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
            class="md-whiteframe-z2" data-ng-show="authentication.user">
  <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">ยินดีต้อนรับ</span>
        <span md-is-locked-open="$mdMedia('gt-sm')" class="md-subhead" data-ng-bind="authentication.user.displayName"></span>
      </md-card-title-text>
      <md-card-title-media>
        <div>
          <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="md-media-sm card-media" />
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <div>
        <md-button class="md-icon-button md-primary" aria-label="Settings" data-ui-sref="settings.profile">
          <md-tooltip md-direction="top" md-visible="tooltipVisible">แก้ไขข้อมูล</md-tooltip>
          <md-icon md-svg-icon="pencil"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-accent" aria-label="Favorite" data-ui-sref="settings.picture">
          <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรูปภาพ</md-tooltip>
          <md-icon md-svg-icon="picture"></md-icon>
        </md-button>
        <md-button class="md-icon-button md-warning" aria-label="More" data-ui-sref="settings.password">
          <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรหัสผ่าน</md-tooltip>
          <md-icon md-svg-icon="key"></md-icon>
        </md-button>
      </div>
      <md-button href="/api/auth/signout" target="_self" class="md-raised md-primary">ออกจากระบบ</md-button>
    </md-card-actions>
    <div class="list-group">
      <a class="list-group-item" data-ui-sref="home"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; หน้าหลัก</a>
      <a class="list-group-item" data-ui-sref="mains.list"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; การใช้งาน</a>
      <a class="list-group-item" data-ui-sref="mains.create"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; เพิ่มรายการ</a>
      <a class="list-group-item" data-ui-sref="recipients.list"><i class="fa fa-street-view fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้รับ</a>
      <a class="list-group-item" data-ui-sref="sends.list"><i class="fa fa-child fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้ส่ง</a>
    </div>
  </md-card>
</md-sidenav>

  <!-- Container #4 Right -->
  <md-content flex id="content" data-ng-show="authentication.user">
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <!--Graph Title <div id="mainb" style="height:350px;"></div> -->
          <div class="row top_tiles">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-university"></i></div>
                <div class="count">179</div>
                <h3>เงินคงเหลือ</h3>
                <p>จำนวนเงินคงเหลือที่สามารถใช้ได้.</p>
              </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-graduation-cap"></i></div>
                <div class="count">179</div>
                <h3>ส่งสำเร็จ</h3>
                <p>จำนวนรายการส่งสำเร็จ</p>
              </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-paper-plane"></i></div>
                <div class="count">1179</div>
                <h3>กำลังจัดส่ง</h3>
                <p>จำนวนรายการที่อยู่ในระหว่างจัดส่ง</p>
              </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <div class="tile-stats">
                <div class="icon"><i class="fa fa-fire-extinguisher"></i></div>
                <div class="count">179</div>
                <h3>ส่งไม่สำเร็จ</h3>
                <p>จำนวนรายการที่ส่งไม่สำเร็จ</p>
              </div>
            </div>
          </div>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/KfT0AsZPI9c" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
      <!--<md-list>-->
      <!--<md-item ng-repeat="it in ul.users">-->
        <!--<md-button ng-click="ul.selectUser(it)"-->
                   <!--ng-class="{'selected' : it === ul.selected }">-->
          <!--<md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>-->
          <!--{{it.name}}-->
        <!--</md-button>-->
      <!--</md-item>-->
    <!--</md-list>-->
    <!-- User details sample -->
    <!--<md-icon md-svg-icon="{{ul.selected.avatar}}" class="avatar"></md-icon>-->
    <!--<h2>{{ul.selected.name}}</h2>-->
    <!--<p>{{ul.selected.content}}</p>-->
    <!--<md-button class="share" md-no-ink ng-click="ul.share($event)"-->
               <!--aria-label="Share">-->
      <!--<md-icon md-svg-icon="share" ></md-icon>-->
    <!--</md-button>-->

  </md-content>

</div>
