<div data-ng-controller="MainsController" data-ng-init="find(); s_country=''; r_country=''">

  <div layout="column" style="height: 1000px;">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <div class="md-toolbar-tools">
          <md-button ng-disabled="true" class="md-primary" data-ng-show="authentication.user">
            <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image"
            />
            <span md-is-locked-open="$mdMedia('gt-sm')" class="md-body-2" data-ng-bind="authentication.user.displayName"></span>
          </md-button>
        </div>
      </md-toolbar>

      <md-content layout-margin>
        <md-card-actions layout="row" layout-align="end center">

          <md-button class="md-icon-button md-primary" aria-label="Settings" data-ui-sref="settings.profile">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">แก้ไขข้อมูล</md-tooltip>
            <md-icon md-svg-icon="pencil"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-accent" aria-label="Favorite" data-ui-sref="settings.picture">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรูปภาพ</md-tooltip>
            <md-icon md-svg-icon="picture"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-warning" aria-label="More" data-ui-sref="settings.password">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรหัสผ่าน</md-tooltip>
            <md-icon md-svg-icon="key"></md-icon>
          </md-button>
          <md-button ng-click="toggleLeft()" class="md-accent">
            ปิดแถบเมนู
          </md-button>
        </md-card-actions>
        <ul class="nav side-menu">
          <a class="list-group-item" data-ui-sref="home">
            <h6>
              <i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; หน้าหลัก</h6>
          </a>
          <a class="list-group-item" data-ui-sref="mains.list">
            <h6>
              <i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; ค้างชำระ</h6>
          </a>
          <a class="list-group-item" data-ui-sref="mains.create">
            <h6>
              <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; เพิ่มรายการ</h6>
          </a>
          <a class="list-group-item" data-ui-sref="recipients.list">
            <h6>
              <i class="fa fa-street-view fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้รับ</h6>
          </a>
          <a class="list-group-item" data-ui-sref="sends.list">
            <h6>
              <i class="fa fa-child fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้ส่ง</h6>
          </a>
          <a class="list-group-item" data-ui-sref="mains.summary">
            <h6>
              <i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; ประวัติการใช้งาน</h6>
          </a>
          <a class="list-group-item" data-ui-sref="mains.payment">
            <h6>
              <i class="fa fa-money fa-fw" aria-hidden="true"></i>&nbsp; การเงินย้อนหลัง</h6>
          </a>
        </ul>
      </md-content>

    </md-sidenav>

    <md-content flex id="content" data-ng-show="authentication.user">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="clearfix"></div>

          <div class="x_content">
            <div class="col-md-6 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>รายละเอียดผู้ส่ง
                    <small>กรอกรายละเอียดผู้ส่ง</small>
                  </h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <!--<button type="button" class="btn btn-mg btn-default" ng-click="toggleLeft()">เปิดแถบเมนู</button>-->
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <form class="form-horizontal form-label-left input_mask" name="mainForm" data-ng-submit="create()" novalidate>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                      <md-autocomplete placeholder='ค้นหาผู้ส่ง' md-selected-item="selectedSender" md-search-text="searchText" md-items="item in getSenderName(searchText)"
                        md-item-text="item.name" md-selected-item-change='setSenderData()'>
                        <span md-highlight-text="searchText">{{item.name}}</span>
                      </md-autocomplete>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                      <input name="s_name" type="text" data-ng-model="s_name" id="s_name" class="form-control has-feedback-left" id="inputSuccess5"
                        placeholder="ชื่อ-นามสกุล" required>
                      <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                      <input name="s_tel" type="text" data-ng-model="s_tel" id="s_tel" class="form-control has-feedback-right" id="inputSuccess5"
                        placeholder="เบอร์โทร">
                      <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                      <input name="s_email" data-ng-model="s_email" id="s_email" type="text" class="form-control has-feedback-left" id="inputSuccess3"
                        placeholder="อีเมลล์">
                      <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                      <input name="s_idNumber" data-ng-model="s_idNumber" type="text" class="form-control has-feedback-right" id="inputSuccess4"
                        placeholder="เลขบัตรประชาชน">
                      <span class="fa fa-book form-control-feedback right" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                      <input name="s_address" type="text" data-ng-model="s_address" id="s_address" type="text" class="form-control has-feedback-left"
                        id="inputSuccess4" placeholder="ที่อยู่">
                      <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                      <input name="s_ampher" data-ng-model="s_ampher" type="text" class="form-control has-feedback-right" id="inputSuccess6" placeholder="อำเภอ">
                      <span class="fa fa-tree form-control-feedback right" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>จังหวัด</label>
                        <md-select ng-model="s_country">
                          <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                            {{state.abbrev}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>รหัสไปรษณีย์</label>
                        <input name="postcode" ng-model="s_postcode" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                      </md-input-container>
                    </div>

                    <!--<div class="form-group">-->
                    <!--<div class="col-md-2 col-sm-9 col-xs-12 col-md-offset-0">-->
                    <!--<button class="btn btn-primary" type="reset">รีเซ็ตผู้รับ</button>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--<div class="ln_solid"></div>-->

                  </form>
                </div>
              </div>
              <div class="x_panel">
                <div class="x_title">
                  <h2>รายละเอียดผู้รับ
                    <small>กรอกรายละเอียดผู้รับ</small>
                  </h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <!--<button type="submit" class="btn btn-success" data-ui-sref="recipients.create">เพิ่มรายชื่อผู้รับ</button>-->
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <form class="form-horizontal form-label-left input_mask" name="mainForm" data-ng-submit="create()" novalidate>

                    <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">

                      <md-autocomplete placeholder='ค้นหาผู้รับ' md-selected-item="selectedRecipient" md-search-text="search" md-items="recipient in getRecipients(search)"
                        md-item-text="recipient.name" md-selected-item-change='setRecipientData()'>
                        <span md-highlight-text="searchText">{{recipient.name}}</span>
                      </md-autocomplete>

                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                      <input name="r_name" data-ng-model="r_name" id="r_name" type="text" class="form-control has-feedback-left" id="inputSuccess4"
                        placeholder="ชื่อ-นามสกุล" required>
                      <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                      <input name="r_tel" data-ng-model="r_tel" id="r_tel" type="text" class="form-control has-feedback-right" id="inputSuccess4"
                        placeholder="เบอร์โทร" required>
                      <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                      <input name="r_email" data-ng-model="r_email" id="r_email" type="text" class="form-control has-feedback-left" id="inputSuccess3"
                        placeholder="อีเมลล์">
                      <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                      <input name="r_comment" type="text" data-ng-model="r_comment" id="r_comment" type="text" class="form-control" id="inputSuccess4"
                        placeholder="Comment">
                      <span class="fa fa-globe form-control-feedback right" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                      <input name="r_address" type="text" data-ng-model="r_address" id="r_address" type="text" class="form-control has-feedback-left"
                        id="inputSuccess4" placeholder="ที่อยู่">
                      <span class="fa fa-home form-control-feedback left" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                      <input name="r_ampher" type="text" data-ng-model="r_ampher" id="r_ampher" type="text" class="form-control has-feedback-right"
                        id="inputSuccess5" placeholder="อำเภอ">
                      <span class="fa fa-tree form-control-feedback right" aria-hidden="true"></span>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>จังหวัด</label>
                        <md-select ng-model="r_country">
                          <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                            {{state.abbrev}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>รหัสไปรษณีย์</label>
                        <input name="postcode" ng-model="r_postcode" required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                      </md-input-container>
                    </div>

                    <!--<div class="form-group">-->
                    <!--<div class="col-md-2 col-sm-9 col-xs-12 col-md-offset-0">-->
                    <!--<button class="btn btn-primary" type="reset">รีเซ็ตผู้ส่ง</button>-->
                    <!--</div>-->
                    <!--</div>-->

                  </form>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>รายละเอียดสินค้า
                    <small>กรอกรายละเอียดสินค้า</small>
                  </h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <div class="text-center mtop20">
                      <button type="button" class="btn btn-mg btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">Import Excel</button>
                    </div>
                    <!--<button type="button" class="btn btn-mg btn-default" ng-click="toggleLeft()">เปิดแถบเมนู</button>-->
                    <!--<md-button-->
                    <!--ng-click="toggleLeft()"-->
                    <!--class="md-fab md-accent"-->
                    <!--aria-label="Code"-->
                    <!--ng-click="ctrl.showContentMenu($event, ctrl.code)">-->
                    <!--<md-icon md-svg-icon="assets/svg/list.svg"></md-icon>-->
                    <!--</md-button>-->
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <form class="form-horizontal form-label-left input_mask" name="mainForm" data-ng-submit="create()" novalidate>

                    <!--Hidden-->
                    <input type="hidden" ng-model="total" value="selectedOption.price">
                    <input type="hidden" ng-model="weight" value="selectedOption.value">
                    <div class="row">
                      <div class="form-group">
                        <div class="input-group input-group-lg">
                          <span class="input-group-addon">
                            <md-switch ng-model="barcode" aria-label="" ng-disabled="isDisabled" ng-change="manualEmsChanged()"></md-switch>
                          </span>
                          <input id="barcode" type="text" class="form-control" placeholder="กรอกเลข EMS จากไปรษณีย์" aria-describedby="basic-addon1"
                            style="height:85px;" disabled>
                        </div>
                      </div>
                      <div class="col-md-7 col-sm-6 col-xs-12 form-group has-feedback">
                        <div class="form-group">
                          <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                            <small class="text-navy">Order </small>
                          </label>
                          <div class="col-md-9 col-sm-9 col-xs-12">
                            <input name="order" type="text" data-ng-model="order" id="order" class="form-control" id="inputSuccess2" placeholder="order">
                            <span class="fa fa-shopping-cart form-control-feedback right" aria-hidden="true"></span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                            <small class="text-navy">Invoice </small>
                          </label>
                          <div class="col-md-9 col-sm-9 col-xs-12">
                            <input name="invoice" type="text" data-ng-model="invoice" id="invoice" class="form-control" id="inputSuccess3" placeholder="Invoice No">
                            <span class="fa fa-shopping-cart form-control-feedback right" aria-hidden="true"></span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                            <small class="text-navy">พัสดุ </small>
                          </label>
                          <div class="col-md-9 col-sm-9 col-xs-12">
                            <input name="detail" type="text" data-ng-model="detail" id="detail" class="form-control has-feedback-right" id="inputSuccess2"
                              placeholder="พัสดุที่ส่ง">
                            <span class="fa fa-gift form-control-feedback right" aria-hidden="true"></span>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                            <small class="text-navy">Comment</small>
                          </label>
                          <div class="col-md-9 col-sm-9 col-xs-12">
                            <input name="detail" type="text" data-ng-model="detail_Product" id="detail" class="form-control has-feedback-right" id="inputSuccess2"
                              placeholder="รายละเอียดพัสดุ">
                            <span class="fa fa-gift form-control-feedback right" aria-hidden="true"></span>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-5 col-sm-6 col-xs-12 form-group has-feedback">
                        <div class="form-group">
                          <select class="form-control" data-ng-model="selectedOption" ng-options="option.name for option in options" ng-change="setGrandTotal()">
                          </select>
                        </div>
                        <div class="form-group">
                          <div class="dialog-demo-prerendered">
                            <md-checkbox ng-model="cbCod" class="md-caption">COD เก็บเงินปลายทาง</md-checkbox>
                          </div>
                          <input type="text" data-ng-model="productPrice" class="form-control" id="inputSuccess3" placeholder="ราคาที่เรียกเก็บ" ng-if="cbCod"
                            ng-click="showPrerenderedDialog($event)" ng-blur="productPriceChanged(productPrice)">
                        </div>
                        <div class="form-group">
                          <div class="dialog-demo-prerendered">
                            <md-checkbox ng-model="cbWarranty" class="md-caption">ประกันสินค้า</md-checkbox>
                          </div>
                          <select class="form-control" data-ng-model="selectedInsurance" ng-options="insurance.name for insurance in insurances" ng-if="cbWarranty"
                            ng-click="showPrerenderedDialog($event)" ng-change="calInsurance(selectedInsurance)">
                          </select>
                        </div>
                        <div class="form-group">
                          <div class="col-md-4 col-sm-9 col-xs-12 col-md-offset-0">
                            <button class="btn btn-primary" type="text">น้ำหนักประมาณ {{ selectedOption.value }} กรัม</button>
                            <!--<button class="btn btn-primary" type="reset" ng-click="reset()">รีเซ็ต</button>-->
                          </div>
                        </div>
                      </div>
                    </div>
                    <br />

                    <div class="x_panel">
                      <div class="x_title">
                        <h2>ยอดค่าใช้จ่าย</h2>
                        <ul class="nav navbar-right panel_toolbox">
                          <div layout="row">
                            <img src="modules/core/img/brand/visa.png" alt="Visa">&nbsp
                            <img src="modules/core/img/brand/mastercard.png" alt="Mastercard">&nbsp
                            <img src="modules/core/img/brand/american-express.png" alt="American Express">&nbsp
                            <img src="modules/core/img/brand/paypal.png" alt="Paypal">
                          </div>
                        </ul>
                        <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                        <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="tile-stats">
                            <div class="icon">
                              <i class="fa fa-money"></i>
                            </div>
                            <div class="count">{{ selectedOption.price | provincePrice :s_country :r_country :selectedOption.weight | number:
                              2}}
                              <span>บาท</span>
                            </div>
                            <h3>ยอดเงินที่ต้องชำระ</h3>
                            <p>แสดงรายละเอียดยอดเงินที่ต้องชำระ</p>
                            <div class="form-group">
                              <label class="col-md-12 col-sm-12 col-xs-12 control-label">
                                <p>ค่าส่งสินค้า {{ selectedOption.price | provincePrice :s_country :r_country :selectedOption.weight
                                  | number:2 }} บาท</p>
                                <p>ค่าธรรมเนียม COD {{ codAmount | number:2 }} บาท</p>
                                <p>ค่าประกันสินค้า {{ insuranceAmount | number:2 }} บาท</p>
                                <p>ภาษีมูลค่าเพิ่ม {{ (codAmount + insuranceAmount) * 0.07 | number:2 }} บาท</p>
                                <strong>ยอดรวมชำระ {{ grandTotal | number:2}} บาท</strong>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-4">
                            <!--<button class="btn btn-warning" type="submit" ng-disabled="myForm.$error.required" ng-click="showAddlist($event, selectedMains);">ยืนยัน</button>-->
                            <button class="btn btn-warning" type="submit" ng-click="showAlert($event)">ยืนยัน</button>
                            <button class="btn btn-primary" type="submit" data-ui-sref="mains.list">ชำระเงิน</button>
                          </div>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                          <alert type="danger" data-ng-show="error" class="text-center text-danger">
                            <span data-ng-bind="error"></span>
                          </alert>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
</div>