<div data-ui-view flex layout="row" data-ng-controller="MainsController" data-ng-init="find(); setBalanceAmt();">
  <div layout="column" style="height: 1000px;">
    <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <div class="md-toolbar-tools">
          <md-button ng-disabled="true" class="md-primary" data-ng-show="authentication.user">
            <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
            <span md-is-locked-open="$mdMedia('gt-sm')" class="md-body-2" data-ng-bind="authentication.user.displayName"></span>
          </md-button>
        </div>
      </md-toolbar>

      <md-content layout-margin>
        <md-card-actions layout="row" layout-align="end center">

          <md-button class="md-icon-button md-primary" aria-label="Settings" data-ui-sref="settings.profile">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">แก้ไขข้อมูล</md-tooltip>
            <md-icon md-svg-icon="pencil"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-accent" aria-label="Favorite" data-ui-sref="settings.picture">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรูปภาพ</md-tooltip>
            <md-icon md-svg-icon="picture"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-warning" aria-label="More" data-ui-sref="settings.password">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรหัสผ่าน</md-tooltip>
            <md-icon md-svg-icon="key"></md-icon>
          </md-button>
          <md-button ng-click="toggleLeft()" class="md-accent">
            ปิดแถบเมนู
          </md-button>
        </md-card-actions>
        <ul class="nav side-menu">
          <a class="list-group-item" data-ui-sref="home"><h6><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; หน้าหลัก</h6></a>
          <a class="list-group-item" data-ui-sref="mains.list"><h6><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; ค้างชำระ</h6></a>
          <a class="list-group-item" data-ui-sref="mains.create"><h6><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; เพิ่มรายการ</h6></a>
          <a class="list-group-item" data-ui-sref="recipients.list"><h6><i class="fa fa-street-view fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้รับ</h6></a>
          <a class="list-group-item" data-ui-sref="sends.list"><h6><i class="fa fa-child fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้ส่ง</h6></a>
          <a class="list-group-item" data-ui-sref="mains.summary"><h6><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; ประวัติการใช้งาน</h6></a>
          <a class="list-group-item" data-ui-sref="mains.payment"><h6><i class="fa fa-money fa-fw" aria-hidden="true"></i>&nbsp; การเงินย้อนหลัง</h6></a>
        </ul>
      </md-content>

    </md-sidenav>

    <md-content flex id="content" data-ng-show="authentication.user">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>รายการค้างชำระ<small>ตรวจสอบรายการค้างชำระ</small></h2>
            <div class="col-lg-4">
              <div class="input-group">
                <input ng-model="searchText" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
              </div>
              <!-- /input-group -->
            </div>

            <ul class="nav navbar-right panel_toolbox">
              <!--<div class="text-center mtop20">-->
                <!--<button type="button" class="btn btn-mg btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">Import Excel</button>-->
              <!--</div>-->
            </ul>

            <div class="clearfix"></div>
            <div class="x_content">
              <br />
              <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                  <tr class="headings">
                    <th class="md-caption">ที่ </th>
                    <th class="md-caption">วันที่ </th>
                    <th class="md-caption">ผู้รับ </th>
                    <th class="md-caption">เบอร์โทร </th>
                    <th class="md-caption">นน.ก่อน </th>
                    <th class="md-caption">COD </th>
                    <th class="md-caption">ค่าส่ง </th>
                    <th class="md-caption">สถานะจัดส่ง </th>
                    <th class="md-caption">ชำระเงิน</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="even pointer" data-ng-repeat="main in mains | filter:searchText" data-ng-show="authentication.user._id == main.user._id && main.status === 'ยังไม่ได้ชำระเงิน'">
                    <td class="md-caption" ng-init="addSelectInvoice(main.invoice);">{{ $index + 1 }}</td>
                    <td class="md-caption" ng-bind="main.created | date:'mediumDate'"></td>
                    <td class="md-caption" ng-bind="main.r_name"></td>
                    <td class="md-caption" ng-bind="main.r_tel"></td>
                    <td class="md-caption" ng-bind="main.weight"></td>
                    <td class="md-caption" ng-bind="main.codAmnt"></td>
                    <td class="md-caption" ng-bind="main.total"></td>
                    <td ng-init="disabled=true;">
                      <a ng-show="disabled" class="btn btn-default btn-xs" ng-click="disabled=false; removeSelectInvoice(main.invoice); minusPrice(main.total); removeSelectMain(main);"><i class="fa fa-money"></i> ยกเลิก </a>
                      <a ng-show="!disabled" class="btn btn-warning btn-xs" ng-click="disabled=true; addSelectInvoice(main.invoice); addPrice(main.total); addSelectMain(main);"><i class="fa fa-money"></i> ชำระเงิน </a>
                    </td>
                    <td>
                      <a class="btn btn-info btn-xs" data-ui-sref="mains.edit({mainId: main._id})"><i class="fa fa-pencil"></i> แก้ไข </a>
                      <a class="btn btn-danger btn-xs" data-ng-click="remove(main); minusPrice(main.grandTotalAmnt); removeSelectMain(main);"><i class="fa fa-trash-o"></i> ลบ </a>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <div class="alert alert-warning text-center" data-ng-if="mains.$resolved && !mains.length">
                  <button type="button" class="btn btn-mg btn-warning" data-toggle="modal" data-target=".bs-example-modal-lg" data-ui-sref="mains.create">ยังไม่มีรายการในระบบ... คลิกเพื่อเพิ่มรายการ</button>
                </div>

                <div class="x_content">

                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-xs-6">
                      <div class="x_panel">
                        <div class="x_title">
                          <h2>สถานที่จัดส่งพัสดุ</h2>
                          <ul class="nav navbar-right panel_toolbox">
                            <div layout="row">
                              <h2 data-ui-sref="mains.edit({mainId: main._id})">Dropoff</h2>
                            </div>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                          <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="tile-stats">
                              <iframe src="https://www.google.com/maps/d/u/0/embed?mid=11kIWJ2PCRZ7wyAyKiq8LKL8Q7po" width="505" height="140"></iframe>
                            </div>
                          </div>  
                        </div>
                      </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-6">
                      <div class="x_panel">
                        <div class="x_title">
                          <h2>ยอดค่าใช้จ่าย</h2>
                          <ul class="nav navbar-right panel_toolbox">
                            <div layout="row">
                              <h2 class="text-default">เงินคงเหลือ {{balanceAmount | number:2}} บาท</h2>
                            </div>
                          </ul>
                          <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                          <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="tile-stats">
                              <div class="icon"><i class="fa fa-money"></i>
                              </div>
                              <div class="count">{{ totalPrice | number: 2}}
                                <span>บาท</span>
                              </div>

                              <h3>ยอดเงินที่ต้องชำระ</h3>
                              <p>เพิ่มรายการได้อย่างต่อเนื่อง และคลิกชำระเงินเพื่อชำระเงินพร้อมกันทุกรายการ.</p>
                            </div>
                          </div>
                          <div class="text-center form-group">
                            <button type="button" class="btn btn-primary" ng-click="showTopUpPromt($event)">เติมเงิน</button>
                            <button type="submit" class="btn btn-success" ng-disabled="disabled" ng-click="showConfirm($event, selectedMains);">ชำระเงิน</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </md-content>

    <!-- <form action='https://demo2.2c2p.com/2C2PFrontEnd/RedirectV3/payment' method='POST' name='authForm'> -->
    <form action='https://t.2c2p.com/RedirectV3/payment' method='POST' name='authForm'>
      <!--display wait message to user when page is loading-->
      <!-- Please wait for a while. Do not close the browser or refresh the page.-->
      <!--load request data-->

      <input type='hidden' id='version' name='version' value="{{version}}"/>
      <input type='hidden' id='merchant_id' name='merchant_id' value="{{merchant_id}}"/>
      <input type='hidden' id='payment_description' name='payment_description' value="{{payment_description}}"/>
      <input type='hidden' id='order_id' name='order_id' value="{{order_id}}"/>
      <input type='hidden' id='invoice_no' name='invoice_no' value="{{invoice_no}}"/>
      <input type='hidden' id='currency' name='currency' ng-model='currency'/>
      <input type='hidden' id='amount' name='amount' value="{{amount}}"/>
      <input type='hidden' id='customer_email' name='customer_email'/>
      <input type='hidden' id='pay_category_id' name='pay_category_id'/>
      <input type='hidden' id='promotion' name='promotion'/>
      <input type='hidden' id='user_defined_1' name='user_defined_1'/>
      <input type='hidden' id='user_defined_2' name='user_defined_2'/>
      <input type='hidden' id='user_defined_3' name='user_defined_3'/>
      <input type='hidden' id='user_defined_4' name='user_defined_4'/>
      <input type='hidden' id='user_defined_5' name='user_defined_5'/>
      <input type='hidden' id='result_url_1' name='result_url_1' value="{{result_url_1}}"/>
      <input type='hidden' id='result_url_2' name='result_url_2' value="{{result_url_2}}"/>
      <input type='hidden' id='default_lang' name='default_lang' value="{{default_lang}}"/>
      <input type='hidden' id='request_3ds' name='request_3ds'/>
      <input type='hidden' id='hash_value' name='hash_value' value="{{hash_value}}"/>

    </form>
  </div>
</div>

<!-- Dialog template for print list and bill -->
<script type="text/ng-template" id="dialog1.tmpl.html"><md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2 class="md-title ng-bi55nding">พิมพ์รายการ และใบเสร็จรับเงิน</h2>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="/print/list" target="_blank">
        พิมพ์รายการ
      </md-button>
      <span flex></span>
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank">
        พิมพ์ใบเสร็จ
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
