<section>
  <div class="page-header">
    <h1>Creates</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="create in vm.creates"
       ui-sref="creates.view({ createId: create._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="create.created | date:'mediumDate'"></span>
        by
        <span ng-if="create.user" ng-bind="create.user.displayName"></span>
        <span ng-if="!create.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="create.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.creates.$resolved && !vm.creates.length">
    No Creates yet, why don't you <a ui-sref="creates.create">create one</a>?
  </div>
</section>
