<section data-ng-controller="RecipientsController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Recipient</h1>
  </div>
  <div class="col-md-12">
    <form name="recipientForm" class="form-horizontal" data-ng-submit="update()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="name">name</label>
          <div class="controls">
            <input name="name" type="text" data-ng-model="recipient.name" id="name" class="form-control" placeholder="name" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="tel">tel</label>
          <div class="controls">
            <input name="tel" data-ng-model="recipient.tel" id="tel" class="form-control" placeholder="tel">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="address">address</label>
          <div class="controls">
            <input name="address" data-ng-model="recipient.address" id="address" class="form-control" placeholder="address">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="country">country</label>
          <div class="controls">
            <input name="country" data-ng-model="recipient.country" id="country" class="form-control" placeholder="country">          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="postcode">postcode</label>
          <div class="controls">
            <input name="postcode" data-ng-model="recipient.postcode" id="postcode" class="form-control" placeholder="postcode">           </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
