<div flex layout="row" data-ng-controller="RecipientsController as ul" data-ng-init="findOne()">
  <!-- Container Left -->
  <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
                class="md-whiteframe-z2" data-ng-show="authentication.user">
      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">ยินดีต้อนรับ</span>
            <span md-is-locked-open="$mdMedia('gt-sm')" class="md-subhead" data-ng-bind="authentication.user.displayName"></span>
          </md-card-title-text>
          <md-card-title-media>
            <div>
              <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="md-media-sm card-media" />
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <div>
            <md-button class="md-icon-button md-primary" aria-label="Settings" data-ui-sref="settings.profile">
              <md-tooltip md-direction="top" md-visible="tooltipVisible">แก้ไขข้อมูล</md-tooltip>
              <md-icon md-svg-icon="pencil"></md-icon>
            </md-button>
            <md-button class="md-icon-button md-accent" aria-label="Favorite" data-ui-sref="settings.picture">
              <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรูปภาพ</md-tooltip>
              <md-icon md-svg-icon="picture"></md-icon>
            </md-button>
            <md-button class="md-icon-button md-warning" aria-label="More" data-ui-sref="settings.password">
              <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรหัสผ่าน</md-tooltip>
              <md-icon md-svg-icon="key"></md-icon>
            </md-button>
          </div>
          <md-button href="/api/auth/signout" target="_self" class="md-raised md-primary">ออกจากระบบ</md-button>
        </md-card-actions>
        <div class="list-group">
          <a class="list-group-item" data-ui-sref="home"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; หน้าหลัก</a>
          <a class="list-group-item" data-ui-sref="mains.list"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; การใช้งาน</a>
          <a class="list-group-item" data-ui-sref="mains.create"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; เพิ่มรายการ</a>
          <a class="list-group-item" data-ui-sref="recipients.list"><i class="fa fa-street-view fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้รับ</a>
          <a class="list-group-item" data-ui-sref="sends.list"><i class="fa fa-child fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้ส่ง</a>
        </div>
      </md-card>
    </md-sidenav>
  <!-- Container Right -->
  <md-content flex id="content" data-ng-show="authentication.user">
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>รายชื่อผู้รับ</h2>
            <div class="clearfix"></div>
          </div>
          <div class="col-xs-offset-0 col-xs-12 col-md-offset-2 col-md-8 login-form-bg">
            <h3 class="text-center">แก้ไขข้อมูลผู้รับ</h3>
            <form name="recipientForm" class="form-horizontal" data-ng-submit="update()" novalidate>
              <fieldset>
                <alert type="danger" data-ng-show="error" class="text-center text-danger">
                  <span data-ng-bind="error"></span>
                </alert>
                <div class="form-group">
                  <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1">
            <i class="glyphicon glyphicon-user"></i>
          </span>
                    <input name="name" type="text" data-ng-model="recipient.name" id="name" class="form-control" placeholder="name" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1">
            <i class="glyphicon glyphicon-earphone"></i>
          </span>
                    <input name="tel" data-ng-model="recipient.tel" id="tel" class="form-control" placeholder="tel">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1">
            <i class="glyphicon glyphicon-home"></i>
          </span>
                    <input name="address" data-ng-model="recipient.address" id="address" class="form-control" placeholder="address">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1">
            <i class="glyphicon glyphicon-road"></i>
          </span>
                    <input name="country" data-ng-model="recipient.country" id="country" class="form-control" placeholder="country">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1">
            <i class="glyphicon glyphicon-inbox"></i>
          </span>
                    <input name="postcode" data-ng-model="recipient.postcode" id="postcode" class="form-control" placeholder="postcode">
                  </div>
                </div>
                <div class="text-center form-group">
                  <input type="submit" value="Update" class="btn btn-default">
                  <button data-ui-sref="recipients.list" class="btn btn-warning" type="button">Cancel</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </md-content>
</div>
