<div data-ng-controller="RecipientsController" data-ng-init="find()">
  <div layout="column" style="height: 1000px;">
    <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <div class="md-toolbar-tools">
          <md-button ng-disabled="true" class="md-primary" data-ng-show="authentication.user">
            <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
            <span md-is-locked-open="$mdMedia('gt-sm')" class="md-body-2" data-ng-bind="authentication.user.displayName"></span>
          </md-button>
        </div>
      </md-toolbar>

      <md-content layout-margin>
        <md-card-actions layout="row" layout-align="end center">

          <md-button class="md-icon-button md-primary" aria-label="Settings" data-ui-sref="settings.profile">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">แก้ไขข้อมูล</md-tooltip>
            <md-icon md-svg-icon="pencil"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-accent" aria-label="Favorite" data-ui-sref="settings.picture">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรูปภาพ</md-tooltip>
            <md-icon md-svg-icon="picture"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-warning" aria-label="More" data-ui-sref="settings.password">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรหัสผ่าน</md-tooltip>
            <md-icon md-svg-icon="key"></md-icon>
          </md-button>
          <md-button ng-click="toggleLeft()" class="md-accent">
            ปิดแถบเมนู
          </md-button>
        </md-card-actions>
        <ul class="nav side-menu">
          <a class="list-group-item" data-ui-sref="home"><h6><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; หน้าหลัก</h6></a>
          <a class="list-group-item" data-ui-sref="mains.list"><h6><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; ค้างชำระ</h6></a>
          <a class="list-group-item" data-ui-sref="mains.create"><h6><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; เพิ่มรายการ</h6></a>
          <a class="list-group-item" data-ui-sref="recipients.list"><h6><i class="fa fa-street-view fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้รับ</h6></a>
          <a class="list-group-item" data-ui-sref="sends.list"><h6><i class="fa fa-child fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้ส่ง</h6></a>
          <a class="list-group-item" data-ui-sref="mains.summary"><h6><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; ประวัติการใช้งาน</h6></a>
          <a class="list-group-item" data-ui-sref="mains.payment"><h6><i class="fa fa-money fa-fw" aria-hidden="true"></i>&nbsp; การเงินย้อนหลัง</h6></a>
        </ul>
      </md-content>

    </md-sidenav>

    <!-- Container #4 Right -->
    <md-content flex id="content" data-ng-show="authentication.user">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>รายชื่อผู้รับ<small>เพิ่มรายชื่อผู้รับได้ที่นี่!!</small></h2>
            <div class="col-lg-4">
              <div class="input-group">
                <input ng-model="searchText" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
              </div>
            </div>
            <ul class="nav navbar-right panel_toolbox">
              <div class="text-center mtop20">
                <!--<ul class="nav navbar-right panel_toolbox">-->
                  <!--<button type="button" class="btn btn-mg btn-default" ng-click="toggleLeft()">เปิดแถบเมนู</button>-->
                <!--</ul>-->
                <button type="button" class="btn btn-mg btn-default" data-toggle="modal" data-target=".bs-example-modal-lg" data-ui-sref="recipients.create">เพิ่มผู้รับ</button>
              </div>
            </ul>
            <div class="clearfix"></div>
          </div>

          <div class="x_content">
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                <tr class="headings">
                  <th class="md-caption">วันที่ </th>
                  <th class="md-caption">ชื่อ-นามสกุล </th>
                  <th class="md-caption">เบอร์โทรศัพท์ </th>
                  <th class="md-caption">ที่อยู่ </th>
                  <th class="md-caption">อำเภอ </th>
                  <th class="md-caption">จังหวัด </th>
                  <th class="md-caption">รหัสไปรษณีย์ </th>
                  <th class="md-caption">Comment </th>
                  <th class="md-caption"><span class="nobr">แก้ไข</span>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr class="even pointer" data-ng-repeat="recipient in recipients | filter:searchText">
                  <td class="md-caption" ng-bind="recipient.created | date:'mediumDate'"></td>
                  <td class="md-caption" ng-bind="recipient.name"></td>
                  <td class="md-caption" ng-bind="recipient.tel"></td>
                  <td class="md-caption" ng-bind="recipient.address"></td>
                  <td class="md-caption" ng-bind="recipient.ampher"></td>
                  <td class="md-caption" ng-bind="recipient.country"></td>
                  <td class="md-caption" ng-bind="recipient.postcode"></td>
                  <td class="md-caption" ng-bind="recipient.comment"></td>
                  <td>
                    <a class="btn btn-info btn-xs" data-ui-sref="recipients.edit({recipientId: recipient._id})"><i class="fa fa-pencil"></i> แก้ไข </a>
                    <a class="btn btn-danger btn-xs" data-ng-click="remove(recipient);"><i class="fa fa-trash-o"></i> ลบ </a>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="alert alert-warning text-center" data-ng-if="recipients.$resolved && !recipients.length">
                <button type="button" class="btn btn-mg btn-warning" data-toggle="modal" data-target=".bs-example-modal-lg" data-ui-sref="recipients.create">ยังไม่มีชื่อในระบบ... คลิกเพื่อเพิ่มรายชื่อผู้รับ</button>
              </div>
            </div>
          </div></div>
        <div class="text-center form-group">
          <ul uib-pagination total-items="recipients.length" items-per-page="pageSize" ng-model="currentPage" ng-change="pageChanged()"></ul>
        </div>
      </div>
    </md-content>
  </div>
</div>
