<div data-ng-controller="HomeController" data-ng-init="find('userShipmentList'); setTotalMains();">
  <div flex layout="row" data-ng-show="authentication.user">
    <!-- Container #4 Right -->
    <md-content flex id="content">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <!--User Login -->
        <div class="x_panel">
          <div class="x_title">
            <h2>ประวัติการจัดส่งสินค้า<small>ตรวจสอบประวัติและแก้ไขข้อมูลได้</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <div class="text-center mtop20">
                <a class="btn btn-app" data-ui-sref="admin.users">
                  <span class="badge bg-red">{{totalUsers}}</span>
                  <i class="fa fa-edit"></i> ผู้ใช้ระบบ
                </a>
                <a class="btn btn-app" data-ui-sref="admin.lists">
                  <span class="badge bg-red">{{allMains}}</span>
                  <i class="fa fa-edit"></i> รายการ
                </a>
                <a class="btn btn-app" data-ui-sref="admin.payments">
                  <span class="badge bg-red">{{totalPayment}}</span>
                  <i class="fa fa-edit"></i> ชำระเงิน
                </a>
              </div>
            </ul>
            <div class="col-lg-4">
              <div class="input-group">
                <!--<input ng-model="searchText" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>-->
              </div><!-- /input-group -->
            </div>

            <!--เลือกผู้ใช้ระบบ-->
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-4">
                <div style="margin-top:-15px">
                  <md-select placeholder="เลือกเจ้าของบัญชี" ng-model="user.displayName" style="min-width: 400px;" ng-change="userSelectChanged(user.displayName, 'shipment');">
                    <md-option ng-value="user" ng-repeat="user in allUser">{{user.displayName}}</md-option>
                  </md-select>
                  <p class="md-caption">แสดงรายการส่งสินค้าจากเจ้าของบัญชี: {{ selectedUserId ? selectedUser.displayName : 'ยังไม่ได้เลือก' }}</p>
                </div>
              </div>
              <div class="col-md-2">
                <md-button ng-click="userSelectClear('userShipmentList')" ng-disabled="!(user.displayName)">Clear</md-button>
              </div>
              <div class="col-md-2">
                <md-datepicker ng-model="startDate" ng-change="find('userShipmentList')"></md-datepicker>
              </div>
              <div class="col-md-2">
                <md-datepicker ng-model="endDate" ng-change="find('userShipmentList');"></md-datepicker>
              </div>
              <div class="nav navbar-right panel_toolbox">
                <button type="button" class="btn btn-mg btn-primary" ng-click="todaySet('shipments')">วันนี้</button>
                <button type="button" class="btn btn-mg btn-default" ng-click="exportSummary('userList')">Export Excel</button>
              </div>
            </div>

            <div class="x_content">
              <br />
              <div class="row">
                <div class="col-md-6">
                  <div class="md-caption alert">
                    <strong class="text-danger">ค่าส่วนต่างติดลบ (-)</strong> ระบบจะหักเงินจากบัญชีลูกค้าเพิ่มเติมตามค่าใช้จ่ายจริง.
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-caption alert">
                    <strong class="text-success">ค่าส่วนต่างไม่ติดลบ (+)</strong> ระบบจะคืนเงินเข้าบัญชีลูกค้าเนื่องจากชำระเกินจำนวน.
                  </div>
                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                  <tr class="headings">
                    <th class="md-caption">วันที่ </th>
                    <th class="md-caption">Tracking No.</th>
                    <th class="md-caption">เจ้าของบัญชี </th>
                    <th class="md-caption">ผู้รับ </th>
                    <th class="md-caption">เบอร์โทร </th>
                    <th class="md-caption">จว ต้นทาง </th>
                    <th class="md-caption">จว ปลายทาง</th>
                    <th class="md-caption">นน.ก่อน </th>
                    <th class="md-caption">นน.หลัง </th>
                    <th class="md-caption">ค่าส่งก่อน </th>
                    <th class="md-caption">ค่าส่งหลัง </th>
                    <!--<th class="md-caption">ค่าส่งก่อน </th>-->
                    <!--<th class="md-caption">ค่าส่งหลัง </th>-->
                    <th class="md-caption">ส่วนต่าง </th>
                    <th class="md-caption">COD charge</th>
                    <th class="md-caption">COD</th>
                    <th class="md-caption">สถานะจัดส่ง </th>
                    <th class="md-caption">ใบเสร็จ </th>
                    <th class="md-caption">พิมพ์ใบปะหน้า </th>
                    <!--<th class="md-caption">ลบ</th>-->
                    <th class="md-caption">Comment </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="even pointer" data-ng-repeat="shipment in shipments">
                    <td class="md-caption" ng-bind="shipment.created | date:'mediumDate'"></td>
                    <td class="md-caption">
                      <a>
                        {{ shipment.barcode }}
                      </a>
                      <a>
                        {{ cb }}
                      </a>
                      <a>
                        <md-switch ng-model="cb" aria-label="Switch 2" ng-true-value="'ยกเลิกรายการ'" ng-false-value="''" class="md-warn">
                      </a>
                    </td>
                    <td class="md-caption" ng-bind="shipment.user.displayName"></td>
                    <td class="md-caption" ng-bind="shipment.r_name"></td>
                    <td class="md-caption" ng-bind="shipment.r_tel"></td>
                    <td class="md-caption" ng-bind="shipment.s_country"></td>
                    <td class="md-caption" ng-bind="shipment.r_country"></td>
                    <td class="md-caption" ng-bind="shipment.weight"></td>
                    <td class="md-caption" ng-bind="shipment.tpWeight"></td>
                    <td class="md-caption" ng-bind="shipment.total"></td>
                    <td class="md-caption" ng-bind="shipment.afterPrice"></td>
                    <td class="md-caption">{{ shipment.total - shipment.afterPrice}}</td>
                    <!--<td class="md-caption">{{ main.tpWeight | afterPrice :main.total :main.s_country :main.r_country :price }}</td>-->
                    <!--<td class="md-caption {{ main.tpWeight | color :main.total :main.s_country :main.r_country :price }}">{{ main.tpWeight | diffPrice :main.total :main.s_country :main.r_country :price }}</td>-->
                    <td class="md-caption" ng-bind="shipment.codAmnt"></td>
                    <td class="md-caption">
                      <a class="btn btn-danger btn-xs"><i class="fa fa-money"></i> {{shipment.productPrice}} </a>
                    </td>

                    <td><a class="btn btn-info btn-xs"><i class="fa fa-money"></i> {{ shipment.barcode | updateStatus :shipment.status :shipment.user._id :shipment.isUpdateAfterPrice :shipment.weight}} {{shipment.status}}</a></td>
                    <td>
                      <a class="btn btn-warning btn-xs" href="/print/bill?rcpDocNo={{shipment.rcpDocNo}}" target="_blank"><i class="fa fa-print"></i>Bill {{shipment.rcpDocNo}} </a>
                      <a class="btn btn-primary btn-xs" href="/print/slip?rcpDocNo={{shipment.rcpDocNo}}" target="_blank"><i class="fa fa-print"></i>Slip {{shipment.rcpDocNo}} </a>
                    </td>
                    <td>
                      <a class="btn btn-warning btn-xs" href="/print/formA4?mainId={{shipment._id}}" target="_blank">
                        <i class="fa fa-print"></i> A4 </a>
                      <a class="btn btn-warning btn-xs" href="/print/formA5?mainId={{shipment._id}}" target="_blank">
                        <i class="fa fa-print"></i> A5 </a>
                      <a class="btn btn-warning btn-xs" href="/print/formA6?mainId={{shipment._id}}" target="_blank">
                        <i class="fa fa-print"></i> A6 </a>
                      <a class="btn btn-warning btn-xs" href="/print/sticker?mainId={{shipment._id}}" target="_blank">
                        <i class="fa fa-print"></i> Sticker </a>
                    </td>
                    <!--<td>-->
                      <!--<a class="btn btn-danger btn-xs" data-ng-click="remove(shipment)"><i class="fa fa-trash-o"></i> ลบ </a>-->
                    <!--</td>-->
                    <td class="md-caption" ng-bind="shipment.detail_Product"></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="text-center form-group">
                <ul uib-pagination total-items="totalShipmentItems" items-per-page="shipmentItemsPerPage" ng-model="currentShipmentPage" ng-change="pageShipmentChanged()"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
</div>
