<div data-ng-controller="HomeController" data-ng-init="find('userPaymentList'); setTotalMains();">
  <div layout="column" style="height: 1000px;">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <div class="md-toolbar-tools">
          <md-button ng-disabled="true" class="md-primary" data-ng-show="authentication.user">
            <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image"/>
            <span md-is-locked-open="$mdMedia('gt-sm')" class="md-body-2" data-ng-bind="authentication.user.displayName"></span>
          </md-button>
        </div>
      </md-toolbar>

      <md-content layout-margin>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button md-primary" aria-label="Settings" data-ui-sref="settings.profile">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">แก้ไขข้อมูล</md-tooltip>
            <md-icon md-svg-icon="pencil"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-accent" aria-label="Favorite" data-ui-sref="settings.picture">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรูปภาพ</md-tooltip>
            <md-icon md-svg-icon="picture"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-warning" aria-label="More" data-ui-sref="settings.password">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรหัสผ่าน</md-tooltip>
            <md-icon md-svg-icon="key"></md-icon>
          </md-button>
          <md-button ng-click="toggleLeft()" class="md-accent">
            ปิดแถบเมนู
          </md-button>
        </md-card-actions>
        <ul class="nav side-menu">
          <a class="list-group-item" data-ui-sref="home">
            <h6>
              <i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; หน้าหลัก</h6>
          </a>
          <a class="list-group-item" data-ui-sref="mains.list">
            <h6>
              <i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; ค้างชำระ</h6>
          </a>
          <a class="list-group-item" data-ui-sref="mains.create">
            <h6>
              <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; เพิ่มรายการ</h6>
          </a>
          <a class="list-group-item" data-ui-sref="recipients.list">
            <h6>
              <i class="fa fa-street-view fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้รับ</h6>
          </a>
          <a class="list-group-item" data-ui-sref="sends.list">
            <h6>
              <i class="fa fa-child fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้ส่ง</h6>
          </a>
          <a class="list-group-item" data-ui-sref="mains.summary">
            <h6>
              <i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; ประวัติการใช้งาน</h6>
          </a>
          <a class="list-group-item" data-ui-sref="mains.payment">
            <h6>
              <i class="fa fa-money fa-fw" aria-hidden="true"></i>&nbsp; การเงินย้อนหลัง</h6>
          </a>
        </ul>
      </md-content>

    </md-sidenav>

    <!-- Container #4 Right -->
    <md-content flex id="content">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <!--User Login -->
        <div class="x_panel">
          <div class="x_title">
            <h2>ประวัติการใช้งาน<small>ตรวจสอบประวัติและแก้ไขข้อมูลได้</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <div class="text-center mtop20">
                <a class="btn btn-app" data-ui-sref="admin.users">
                  <span class="badge bg-red">{{totalUsers}}</span>
                  <i class="fa fa-edit"></i> ผู้ใช้ระบบ
                </a>
                <a class="btn btn-app" data-ui-sref="admin.lists">
                  <span class="badge bg-red">{{allMains}}</span>
                  <i class="fa fa-edit"></i> รายการ
                </a>
                <a class="btn btn-app" data-ui-sref="admin.payments">
                  <!--<span class="badge bg-red">{{totalMains}}</span>-->
                  <i class="fa fa-edit"></i> ชำระเงิน
                </a>
              </div>
            </ul>
            <div class="col-lg-4">
              <div class="input-group">
                <!--<input ng-model="searchText" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>-->
              </div><!-- /input-group -->
            </div>
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-4">
                <div style="margin-top:-15px">
                  <md-select placeholder="เลือกเจ้าของบัญชี" ng-model="user.displayName" style="min-width: 400px;" ng-change="userSelectChanged(allUser);">
                    <md-option ng-value="user.displayName" ng-repeat="user in allUser">{{user.displayName}}</md-option>
                  </md-select>
                  <p class="md-caption">แสดงรายการส่งสินค้าจากเจ้าของบัญชี: {{ user ? user.displayName : 'ยังไม่ได้เลือก' }}</p>
                </div>
              </div>
              <div class="col-md-2">
                <md-button ng-click="userSelectClear()" ng-disabled="!(user.displayName)">Clear</md-button>
              </div>
              <div class="col-md-2">
                <md-datepicker ng-model="startDate" ng-change="statementStartDateChanged()"></md-datepicker>
              </div>
              <div class="col-md-2">
                <md-datepicker ng-model="endDate" ng-change="statementEndDateChanged();"></md-datepicker>
              </div>
              <div class="nav navbar-right panel_toolbox">
                <button type="button" class="btn btn-mg btn-primary" ng-click="todaySet()">วันนี้</button>
                <button type="button" class="btn btn-mg btn-default" ng-click="exportExcel()">Export Excel</button>
              </div>
            </div>
            <div class="x_content">
              <br />
              <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                  <tr class="headings">
                    <th class="md-caption">วันที่ </th>
                    <th class="md-caption">เจ้าของบัญชี </th>
                    <th class="md-caption">รายการการใช้งาน</th>
                    <th class="md-caption">ยอดเงินเข้า </th>
                    <th class="md-caption">ยอดเงินออก </th>
                    <th class="md-caption">ยอดเงินคงเหลือ</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="even pointer" ng-repeat="statement in statements">
                    <td class="md-caption" ng-bind="statement.created | date:'mediumDate'"></td>
                    <td class="md-caption" ng-bind="statement.owner.displayName"></td>
                    <td class="md-caption" ng-bind="statement.name"></td>
                    <td class="md-caption" ng-bind="statement.amountIn | number: 2"></td>
                    <td class="md-caption" ng-bind="statement.amountOut | number: 2"></td>
                    <td class="md-caption" ng-bind="statement.balanceAmount  | number: 2"></td>
                  </tr>
                  </tbody>
                </table>

                <div class="alert alert-warning text-center" data-ng-if="mains.$resolved && !mains.length">
                  <button type="button" class="btn btn-mg btn-warning" data-toggle="modal" data-target=".bs-example-modal-lg" data-ui-sref="mains.create">ยังไม่มีรายการในระบบ... คลิกเพื่อเพิ่มรายการ</button>
                </div>

              </div>
              <div class="text-center form-group">
                <ul uib-pagination total-items="totalStatementItems" items-per-page="statementItemsPerpage" ng-model="currentStatementPage" ng-change="pageStatementChanged()"></ul>
              </div>
            </div>
            <!-- End x_content -->
          </div>
        </div>
      </div>
    </md-content>
  </div>
</div>
