<div data-ng-controller="HomeController" data-ng-init="find('userUserList'); setTotalMains();">
  <div flex layout="row" data-ng-show="authentication.user">
    <!-- Container #4 Right -->
    <md-content flex id="content">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <!--User Login -->
        <div class="x_panel">
          <div class="x_title">
            <h2>ข้อมูลสมาชิก
              <small>ตรวจสอบข้อมูลสมาชิกได้</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
              <div class="text-center mtop20">
                <a class="btn btn-app" data-ui-sref="admin.users">
                  <span class="badge bg-red">{{totalUsers}}</span>
                  <i class="fa fa-edit"></i> ผู้ใช้ระบบ
                </a>
                <a class="btn btn-app" data-ui-sref="admin.lists">
                  <span class="badge bg-red">{{allMains}}</span>
                  <i class="fa fa-edit"></i> รายการ
                </a>
                <a class="btn btn-app" data-ui-sref="admin.payments">
                  <i class="fa fa-edit"></i> ชำระเงิน
                </a>
              </div>
            </ul>
            <div class="col-lg-4">
              <div class="input-group">
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="x_content" data-ng-controller="UserListController">
              <br />
              <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th class="md-caption">วันสมัคร </th>
                      <th class="md-caption">ชื่อผู้ใช้</th>
                      <th class="md-caption">ชื่อสมาชิก</th>
                      <th class="md-caption">อีเมลล์ </th>
                      <th class="md-caption">เบอร์โทร </th>
                      <th class="md-caption">ยอดเงิน</th>
                      <th class="md-caption" data-ng-if="username!=='account'"></th>
                      <th class="md-caption" data-ng-if="username=='account'" >เติมเงิน</th>
                      <!--<th class="md-caption" data-ng-if="username=='account'" >แก้ไข</th>-->
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="even pointer" data-ng-repeat="user in users |filter:searchText" class="list-group-item"
                      ng-init="setBalanceAmt($index);">
                      <td class="md-caption" ng-bind="user.created | date:'mediumDate'"></td>
                      <td class="md-caption" ng-bind="user.username"></td>
                      <td class="md-caption" ng-bind="user.displayName"></td>
                      <td class="md-caption" ng-bind="user.email"></td>
                      <td class="md-caption" ng-bind="user.tel"></td>
                      <td class="md-caption" ng-bind="user.balanceAmt"></td>
                      <td>
                        <a class="btn btn-warning btn-xs" ng-click="showTopUpPromt($event, user, $index)"  data-ng-if="username==='account'">
                          <i class="fa fa-pencil"></i> เติมเงิน </a>
                        <a class="btn btn-danger btn-xs" data-ui-sref="admin.user({userId: user._id})" data-ng-if="username==='account'">
                          <i class="fa fa-pencil"></i> แก้ไข </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="text-center form-group">
                <ul uib-pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage"
                  ng-change="pageChanged()"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
</div>
