<div data-ng-controller="HomeController" data-ng-init="find('listClient'); setTotalMains();">
  <div flex layout="row" data-ng-show="authentication.user">
    <!-- Container #4 Right -->
    <md-content flex id="content">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <!--User Login -->
        <div class="x_panel">
          <div class="x_title">
            <h2>User Profile
              <small>หน้าจัดการสมาชิก</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
              <div class="text-center mtop20">
                <button type="button" class="btn btn-mg btn-default" data-ui-sref="admin.users">ย้อนกลับ</button>
              </div>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
              <!--<div class="profile_img">-->
              <!--<div id="crop-avatar">-->
              <!--&lt;!&ndash; Current avatar &ndash;&gt;-->
              <!--<img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="img-responsive" />-->
              <!--</div>-->
              <!--</div>-->
              <h3 data-ng-bind="user.username"></h3>

              <ul class="list-unstyled user_data">
                <li>ชื่อ: {{ user.firstName }} {{ user.lastName }}
                </li>
                <li>
                  อีเมลล์: {{ user.email }}
                </li>
                <li class="m-top-xs">
                  โทร: {{ user.tel }}
                </li>
                <li class="m-top-xs">
                  บัตรประชาชน: {{ user.idNumber }}
                </li>
                <li class="m-top-xs">
                  ธนาคาร: {{ user.bank }}
                </li>
                <li class="m-top-xs">
                  เลขบัญชีธนาคาร: {{ user.bookbank }}
                </li>
                <!--<li class="m-top-xs">-->
                <!--<i class="fa fa-external-link user-profile-icon"></i> {{ user.provider }}-->
                <!--</li>-->
                <!--<li class="m-top-xs">-->
                <!--<i class="fa fa-external-link user-profile-icon"></i> {{ user.created }}-->
                <!--</li>-->
                <!--<li class="m-top-xs" data-ng-bind="user.roles">-->
                <!--</li>-->
              </ul>

              <a class="btn btn-success" data-ui-sref="admin.user-edit({userId: user._id})">
                <i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
              <!--<a class="btn btn-danger" data-ng-click="remove();" ng-if="user._id !== authentication.user._id"><i class="fa fa-edit m-right-xs"></i>Delete</a>-->
              <br />

            </div>
            <div class="col-md-9 col-sm-9 col-xs-12" data-ng-controller="UserPriceController" data-ng-init="findOne()">
              <div class="profile_title">
                <div class="col-md-6">
                  <h2>ตั้งราคาค่าขนส่ง</h2>
                </div>
                <div class="col-md-6">
                </div>
              </div>
              <div class="x_content">
                <form class="form-horizontal form-label-left input_mask" name="mainForm" data-ng-submit="save()" novalidate>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">ไม่มีน้ำหนัก</small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice0" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice0" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">ไม่เกิน 1-250 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice1" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice1" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">251-500 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice2" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice2" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">501-1,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice3" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice3" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">1,001-1,500 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice4" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice4" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">1,501-2,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice5" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice5" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">2,001-2,500 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice6" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice6" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">2,501-3,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice7" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice7" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">3,001-3,500 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice8" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice8" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">3,501-4,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice9" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice9" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">4,001-4,500 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice10" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice10" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">4,501-5,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice11" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice11" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">5,001-5,500 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice12" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice12" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">5,501-6,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice13" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice13" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">6,001-6,500 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice14" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice14" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">6,501-7,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice15" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice15" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">7,001-7,500 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice16" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice16" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">7,501-8,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice17" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice17" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">8,001-8,500 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice18" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice18" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">8,501-9,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice19" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice19" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">9,001-9,500 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice20" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice20" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">9,501-10,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice21" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice21" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">10,001-11,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice22" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice22" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">11,001-12,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice23" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice23" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">12,001-13,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice24" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice24" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">13,001-14,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice25" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice25" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">14,001-15,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice26" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice26" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">15,001-16,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice27" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice27" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">16,001-17,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice28" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice28" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">17,001-18,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice29" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice29" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">18,001-19,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice30" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice30" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-4 col-sm-2 col-xs-12 control-label">
                          <small class="text-navy">19,001-20,000 กรัม </small>
                        </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.bkPrice31" class="form-control" placeholder="ราคา กทม.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                          <input type="text" data-ng-model="userPrice.ctPrice31" class="form-control" placeholder="ราคา ตจว.">
                          <span class="fa fa-money form-control-feedback right" aria-hidden="true"></span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-4">
                      <input type="submit" class="btn btn-lg btn-primary" value="บันทึก"/>
                      <!-- <button type="submit" class="btn btn-lg btn-primary" data-ui-sref="admin.users">บันทึก</button> -->
                    </div>


                  </div>

                  <br />
                </form>
              </div>


            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
</div>
