<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{title}}</title>

	<!-- Normalize or reset CSS with your favorite library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">

	<!-- Load paper.css for happy printing -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.2.3/paper.css">

	<!-- Set page size here: A5, A4 or A3 -->
	<!-- Set also "landscape" if you need -->
	<style>@page { size: A4 }</style>
	<script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>
</head>

<!-- Set "A5", "A4" or "A3" for class name -->
<!-- Set also "landscape" if you need -->
<body class="A4">
<style type="text/css">
#div1 {
    float:left;
    width:470px;
    height:450px;
    border:solid 0px red;
    text-align:left;
}
#div2 {	
    float:left;
    width:245px;
    height:450px;
    border:solid 0px green;
    text-align:center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
<!-- Each sheet element should have the class "sheet" -->
<!-- "padding-**mm" is optional: you can set 10, 15, 20 or 25 -->
<section class="sheet padding-10mm">

	<!-- Write HTML just like a web page -->
	<div style="background-image:url(/assets/img/Rev.png); position:absolute; left:37px; top:37px; width:730px; height:470px;" title="">

		<div class="row" style="margin-top:105px">
			<h3>RCPT # {{mains[0].rcpDocNo}}</h3>
		</div>
		<div class="row" style="margin-top:-10px">
			<table style="width:100%">
				<tr>
					<th>ชื่อผู้รับ</th>
					<th>EMS No.</th>
					<th>ปณ. ปลายทาง</th>
					<th>น้ำหนัก</th>
					<th>ยอดเงิน</th>
				</tr>
				{% for main in mains %}

				<tr>
					<td>{{main.r_name}}</td>
					<td>{{main.barcode}}</td>
					<td>{{main.r_postcode + ' ' + main.r_ampher}}</td>
					<td>{{main.weight}}</td>
					<td>{{main.total}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div style="margin-top:120px">
			<div style="margin-left:600px">
				<h3>มูลค่า {{totalAmount}} บาท</h3>
			</div>

		</div>
	</div>


		<script type="text/javascript">
   JsBarcode(".barcode", "Smallest width", {
   width: 1.1,
   height: 45,
   fontSize: 0
 }).init();
   //JsBarcode("#barcode").init();
  </script>

</section>

</body>

</html>
