<section data-ng-controller="SendsController">
  <div class="modal-body">
      <div class="x_panel">
        <div class="x_title">
          <h2>รายชื่อผู้ส่ง</h2>
          <div class="clearfix"></div>
        </div>
        <div class="col-xs-offset-0 col-xs-12 col-md-offset-0 col-md-12 login-form-bg">
          <h3 class="text-center">เพิ่มข้อมูลผู้ส่ง</h3>
          <form name="sendForm" class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
              <alert type="danger" data-ng-show="error" class="text-center text-danger">
                <span data-ng-bind="error"></span>
              </alert>
              <div class="form-group">
                <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1">
            <i class="glyphicon glyphicon-user"></i>
          </span>
                  <input name="name" type="text" data-ng-model="name" id="name" class="form-control" placeholder="ชื่อ-นามสกุล">
                </div>
              </div>
              <div class="form-group">
                  <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1">
            <i class="glyphicon glyphicon-earphone"></i>
          </span>
                      <input name="tel" type="text" data-ng-model="tel" id="tel" class="form-control" placeholder="เบอร์โทร">
                  </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1">
            <i class="glyphicon glyphicon-home"></i>
          </span>
                  <input name="address" type="text" data-ng-model="address" id="address" class="form-control" placeholder="ที่อยู่">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1">
            <i class="glyphicon glyphicon-road"></i>
          </span>
                  <input name="country" type="text" data-ng-model="country" id="country" class="form-control" placeholder="จังหวัด">
                </div>
              </div>
              <div class="form-group">
                  <div class="input-group input-group-lg">
                      <span class="input-group-addon" id="basic-addon1">
                        <i class="glyphicon glyphicon-inbox"></i>
                      </span>
                      <input name="postcode" type="text" data-ng-model="postcode" id="postcode" class="form-control" placeholder="รหัสไปรษณีย์">
                  </div>
              </div>
                <div class="form-group">
                    <div class="input-group input-group-lg">
                      <span class="input-group-addon" id="basic-addon1">
                        <i class="glyphicon glyphicon-inbox"></i>
                      </span>
                          <input name="idNumber" type="text" data-ng-model="idNumber" id="idNumber" class="form-control" placeholder="เลขบัตรประชาชน">
                      </div>
                </div>
              <div class="text-center form-group">
                <button class="btn btn-primary" type="submit" ng-click="ok()">ตกลง</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">ยกเลิก</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
  </div>
</section>
