<div flex layout="row" data-ng-controller="SendsController as ul" data-ng-init="findOne()">
  <!-- Container Left -->

  <!-- Container Right -->
  <md-content flex id="content" data-ng-show="authentication.user">
    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>รายชื่อผู้ส่ง</h2>
            <div class="clearfix"></div>
          </div>
          <div class="col-xs-offset-0 col-xs-12 col-md-offset-2 col-md-8 login-form-bg">
            <h3 class="text-center">แก้ไขข้อมูลผู้ส่ง</h3>
              <form name="sendForm" class="form-horizontal" data-ng-submit="update()" novalidate>
                  <fieldset>
                      <div layout-gt-sm="row">
                          <md-input-container class="md-block" flex-gt-sm>
                              <label>ชื่อ-นามสกุล</label>
                              <input ng-model="send.name" required>
                              <div ng-messages="userForm.send.name.$error" role="alert" multiple>
                                  <div ng-message="required" class="my-message">กรุณากรอกชื่อ-นามสกุล</div>
                              </div>
                          </md-input-container>

                          <md-input-container class="md-block" flex-gt-sm>
                              <label>เบอร์โทรศัพท์</label>
                              <input ng-model="send.tel" required>
                              <div ng-messages="userForm.send.tel.$error" role="alert" multiple>
                                  <div ng-message="required" class="my-message">กรุณากรอกเบอร์โทรศัพท์</div>
                              </div>
                          </md-input-container>

                          <md-input-container class="md-block" flex-gt-sm>
                              <label>อีเมลล์</label>
                              <input ng-model="send.email">
                          </md-input-container>
                      </div>

                      <md-input-container class="md-block">
                          <label>ที่อยู่</label>
                          <input ng-model="send.address" required>
                          <div ng-messages="userForm.send.address.$error" role="alert" multiple>
                              <div ng-message="required" class="my-message">กรุณากรอกที่อยู่</div>
                          </div>
                      </md-input-container>

                      <div layout-gt-sm="row">
                          <md-input-container class="md-block">
                              <label>อำเภอ</label>
                              <input ng-model="send.ampher" required>
                              <div ng-messages="userForm.send.ampher.$error" role="alert" multiple>
                                  <div ng-message="required" class="my-message">กรุณากรอกอำเภอ</div>
                              </div>
                          </md-input-container>

                          <md-input-container class="md-block" flex-gt-sm>
                              <label>จังหวัด</label>
                              <md-select ng-model="send.country" required>
                                  <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                      {{state.abbrev}}
                                  </md-option>
                              </md-select>
                              <div ng-messages="userForm.send.country.$error" role="alert" multiple>
                                  <div ng-message="required" class="my-message">กรุณาเลือกจังหวัด</div>
                              </div>
                          </md-input-container>
                      </div>

                      <div layout-gt-sm="row">
                          <md-input-container class="md-block" flex-gt-sm>
                              <label>รหัสไปรษณีย์</label>
                              <input name="postcode" ng-model="send.postcode" placeholder="12345"
                                     required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

                              <div ng-messages="userForm.send.postcode.$error" role="alert" multiple>
                                  <div ng-message="required" class="my-message">กรุณากรอกรหัสไปรษณีย์</div>
                              </div>
                          </md-input-container>

                          <md-input-container class="md-block" flex-gt-sm>
                              <label>สินค้า</label>
                              <md-select ng-model="send.product" required>
                                  <md-option ng-repeat="product in products" value="{{product.abbrev}}">
                                      {{product.abbrev}}
                                  </md-option>
                              </md-select>
                              <div ng-messages="userForm.send.product.$error" role="alert" multiple>
                                  <div ng-message="required" class="my-message">กรุณาเล่ือกสินค้า</div>
                              </div>
                          </md-input-container>
                      </div>
                      <div class="row">
                          <md-input-container class="md-block" flex-gt-sm>
                              <label>เลขบัตรประชาชน</label>
                              <input name="idNumber" ng-model="send.idNumber" placeholder="กรอกเลขบัตรประชาชน 13 หลัก"
                                     required ng-pattern="/^[0-9]{13}$/" md-maxlength="13">

                              <div ng-messages="userForm.send.idNumber.$error" role="alert" multiple>
                                  <div ng-message="required" class="my-message">กรุณาใส่เลขบัตรประชาชน</div>
                              </div>
                          </md-input-container>
                      </div>
                      <div class="text-center form-group">
                          <button class="btn btn-primary" type="submit" ng-click="ok()">ตกลง</button>
                          <button class="btn btn-warning" type="button" data-ui-sref="sends.list">ยกเลิก</button>
                      </div>
                  </fieldset>
              </form>
          </div>
        </div>
      </div>
    </div>
  </md-content>
</div>


