<section data-ng-controller="SendsController" data-ng-init="findOne()">
  <div class="modal-header">
    <h1>Edit Send</h1>
  </div>
  <div class="modal-body">
    <form name="sendForm" class="form-horizontal" data-ng-submit="update()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="name">name</label>
          <div class="controls">
            <input name="name" type="text" data-ng-model="send.name" id="name" class="form-control" placeholder="name" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="tel">tel</label>
          <div class="controls">
            <input name="tel" data-ng-model="send.tel" id="tel" class="form-control" placeholder="tel">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="address">address</label>
          <div class="controls">
            <input name="address" type="text" data-ng-model="send.address" id="address" class="form-control" placeholder="address" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="country">country</label>
          <div class="controls">
            <input name="country" type="text" data-ng-model="send.country" id="country" class="form-control" placeholder="country" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="postcode">postcode</label>
          <div class="controls">
            <input name="postcode" type="text" data-ng-model="send.postcode" id="postcode" class="form-control" placeholder="postcode" required>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
