<div flex layout="row" ng-controller="SendsController" data-ng-init="find()">
  <!-- Container #3 Left -->
  <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
              class="md-whiteframe-z2" data-ng-show="authentication.user">
    <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">ยินดีต้อนรับ</span>
          <span md-is-locked-open="$mdMedia('gt-sm')" class="md-subhead" data-ng-bind="authentication.user.displayName"></span>
        </md-card-title-text>
        <md-card-title-media>
          <div>
            <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="md-media-sm card-media" />
          </div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <div>
          <md-button class="md-icon-button md-primary" aria-label="Settings" data-ui-sref="settings.profile">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">แก้ไขข้อมูล</md-tooltip>
            <md-icon md-svg-icon="pencil"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-accent" aria-label="Favorite" data-ui-sref="settings.picture">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรูปภาพ</md-tooltip>
            <md-icon md-svg-icon="picture"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-warning" aria-label="More" data-ui-sref="settings.password">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรหัสผ่าน</md-tooltip>
            <md-icon md-svg-icon="key"></md-icon>
          </md-button>
        </div>
        <md-button href="/api/auth/signout" target="_self" class="md-raised md-primary">ออกจากระบบ</md-button>
      </md-card-actions>
      <div class="list-group">
        <a class="list-group-item" data-ui-sref="home"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; หน้าหลัก</a>
        <a class="list-group-item" data-ui-sref="mains.list"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; ประวัตการใช้งาน</a>
        <a class="list-group-item" data-ui-sref="mains.create"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; เพิ่มรายการ</a>
        <a class="list-group-item" data-ui-sref="recipients.list"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้รับ</a>
        <a class="list-group-item" data-ui-sref="sends.list"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้ส่ง</a>

      </div>
    </md-card>
  </md-sidenav>

  <!-- Container #4 Right -->
  <md-content flex id="content" data-ng-show="authentication.user">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>รายชื่อผู้ส่ง<small>เพิ่มรายชื่อผู้ส่งได้ที่นี่!!</small></h2>
          <div class="col-lg-4">
            <div class="input-group">
              <input ng-model="searchText" type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
            </div><!-- /input-group -->
          </div>
          <ul class="nav navbar-right panel_toolbox">
            <div class="text-center mtop20" ng-controller="PopupController">
              <button type="button" class="btn btn-mg btn-warning" data-toggle="modal" data-target=".bs-example-modal-lg" data-ng-click="CreateOpen('lg')">เพิ่มรายชื่อผู้ส่ง</button>
              <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel">เพิ่มข้อมูลผู้ส่ง</h4>
                    </div>
                    <div class="modal-body">
                      <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">ชื่อ-นามสกุล <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">เบอร์โทร <span class="required">*</span>
                          </label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="last-name" name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">ที่อยู่</label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea class="form-control" rows="3"></textarea>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">รหัสไปรษณีย์</label>
                          <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
                          </div>
                        </div>
                      </form>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div ng-controller="SendsController" class="col-md-4 col-sm-4 col-xs-12 profile_details" data-ng-repeat="send in sends | filter:searchText" data-ng-show="authentication.user._id == send.user._id">
          <div class="well profile_view">
            <div class="col-sm-12">
              <div class="left col-xs-12">
                <ul class="list-unstyled">
                  <h2><li><i class="fa fa-user"></i>&nbsp;<span ng-bind="send.name"></span></li></h2>
                  <li><i class="fa fa-key fa-fw"></i>&nbsp;<span ng-bind="send.name"></span></li> <br />
                  <li><i class="fa fa-building"></i> ที่อยู่:&nbsp;<span ng-bind="send.address"></span></li>
                  <li>จังหวัด:&nbsp;<span ng-bind="send.country"></span></li>
                  <li>ไปรษณีย์:&nbsp;<span ng-bind="send.postcode"></span></li>
                  <li><i class="fa fa-phone"></i> โทร:&nbsp;<span ng-bind="send.tel"></span> </li>
                  <li><i class="fa fa-calendar"></i> วันที่:&nbsp;<span ng-bind="send.created | date:'mediumDate'"></span></li>
                </ul>
              </div>
              <!--<div class="right col-xs-5 text-center">-->
                <!--<img src="images/img.jpg" alt="" class="img-circle img-responsive">-->
              <!--</div>-->
            </div>
            <div class="col-xs-12 bottom text-center">
              <div class="col-xs-12 col-sm-6 emphasis">
              </div>
              <div class="col-xs-12 col-sm-6 emphasis">
                <a ng-controller="PopupEditController" class="btn btn-info btn-xs" data-ng-click="EditOpen('lg', update)"><i class="fa fa-pencil"></i> แก้ไข </a>
                <a class="btn btn-danger btn-xs" data-ng-click="remove(send);"><i class="fa fa-trash-o"></i> ลบ </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </md-content>
  <div ng-controller="PopupController" class="alert alert-warning text-center" data-ng-if="sends.$resolved && !sends.length">
    <button type="button" class="btn btn-mg btn-warning" data-toggle="modal" data-target=".bs-example-modal-lg" data-ng-click="CreateOpen('lg')">ยังไม่มีชื่อในระบบ... คลิกเพื่อเพิ่มรายชื่อผู้ส่ง</button>
  </div>
</div>
</div>

