<div flex layout="row" ng-controller="SendsController" data-ng-init="find()">
  <!-- Container #3 Left -->
  <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
              class="md-whiteframe-z2" data-ng-show="authentication.user">
    <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">ยินดีต้อนรับ</span>
          <span md-is-locked-open="$mdMedia('gt-sm')" class="md-subhead" data-ng-bind="authentication.user.displayName"></span>
        </md-card-title-text>
        <md-card-title-media>
          <div>
            <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="md-media-sm card-media" />
          </div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <div>
          <md-button class="md-icon-button md-primary" aria-label="Settings" data-ui-sref="settings.profile">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">แก้ไขข้อมูล</md-tooltip>
            <md-icon md-svg-icon="pencil"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-accent" aria-label="Favorite" data-ui-sref="settings.picture">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรูปภาพ</md-tooltip>
            <md-icon md-svg-icon="picture"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-warning" aria-label="More" data-ui-sref="settings.password">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรหัสผ่าน</md-tooltip>
            <md-icon md-svg-icon="key"></md-icon>
          </md-button>
        </div>
        <md-button href="/api/auth/signout" target="_self" class="md-raised md-primary">ออกจากระบบ</md-button>
      </md-card-actions>
      <div class="list-group">
        <a class="list-group-item" data-ui-sref="home"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; รายการจัดส่ง</a>
        <a class="list-group-item" data-ui-sref="mains.list"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; ค้างชำระ</a>
        <a class="list-group-item" data-ui-sref="mains.create"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; เพิ่มรายการ</a>
        <a class="list-group-item" data-ui-sref="recipients.list"><i class="fa fa-street-view fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้รับ</a>
        <a class="list-group-item" data-ui-sref="sends.list"><i class="fa fa-child fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้ส่ง</a>
      </div>
    </md-card>
  </md-sidenav>

  <!-- Container #4 Right -->
  <md-content flex id="content" data-ng-show="authentication.user">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>รายชื่อผู้ส่ง<small>เพิ่มรายชื่อผู้ส่งได้ที่นี่!!</small></h2>
          <div class="col-lg-4">
            <div class="input-group">
              <input ng-model="searchText" type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
            </div><!-- /input-group -->
          </div>

          <ul class="nav navbar-right panel_toolbox">
            <div class="text-center mtop20">
              <button type="button" class="btn btn-mg btn-info" data-toggle="modal" data-target=".bs-example-modal-lg" data-ui-sref="sends.create">เพิ่มรายชื่อผู้ส่ง</button>
              <button type="button" class="btn btn-mg btn-warning" data-toggle="modal" data-target=".bs-example-modal-lg" data-ui-sref="mains.create">เพิ่มรายการ</button>
            </div>
          </ul>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
              <thead>
              <tr class="headings">
                <th class="text-center">รายชื่อผู้ส่ง</th>
              </tr>
              </thead>
              <tbody>
              <tr class="even pointer" data-ng-repeat="recipient in recipients | filter:searchText" data-ng-show="authentication.user._id == recipient.user._id">
                <td ng-bind="send.created | date:'mediumDate'"></td>
              </tr>
              </tbody>
            </table>
            <div class="alert alert-warning text-center" data-ng-if="sends.$resolved && !sends.length">
              <button type="button" class="btn btn-mg btn-warning" data-toggle="modal" data-target=".bs-example-modal-lg" data-ui-sref="sends.create">ยังไม่มีชื่อในระบบ... คลิกเพื่อเพิ่มรายชื่อผู้รับ</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 profile_details" data-ng-repeat="send in sends | filter:searchText" data-ng-show="authentication.user._id == send.user._id">
          <div class="well profile_view">
            <div class="col-sm-12">
              <div class="left col-xs-12">
                <ul class="list-unstyled">
                  <h2><li><i class="fa fa-user"></i>&nbsp;<span class="md-headline" ng-bind="send.name"></span></li></h2>
                  <li><i class="fa fa-key fa-fw"></i>&nbsp;<span class="md-subhead" ng-bind="send.idNumber"></span></li> <br />
                  <li><i class="fa fa-building"></i> ที่อยู่:&nbsp;<span ng-bind="send.address"></span></li>
                  <li>จังหวัด:&nbsp;<span ng-bind="send.country"></span></li>
                  <li>ไปรษณีย์:&nbsp;<span ng-bind="send.postcode"></span></li>
                  <li><i class="fa fa-phone"></i> โทร:&nbsp;<span ng-bind="send.tel"></span> </li>
                  <li><i class="fa fa-calendar"></i> วันที่:&nbsp;<span ng-bind="send.created | date:'mediumDate'"></span></li>
                </ul>
              </div>
              <!--<div class="right col-xs-5 text-center">-->
                <!--<img src="images/img.jpg" alt="" class="img-circle img-responsive">-->
              <!--</div>-->
            </div>
            <div class="col-xs-12 bottom text-center">
              <div class="col-xs-12 col-sm-6 emphasis"></div>
              <div class="col-xs-12 col-sm-6 emphasis">
                <a class="btn btn-info btn-xs" data-ui-sref="sends.edit({sendId: send._id})"><i class="fa fa-pencil"></i> แก้ไข </a>
                <a class="btn btn-danger btn-xs" data-ng-click="remove(send);"><i class="fa fa-trash-o"></i> ลบ</a>
              </div>
            </div>
          </div>
        </div>
      </div></div>
      <div class="text-center form-group">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </md-content>
</div>
</div>

