<div ng-controller="SendsController" data-ng-init="find()">
  <div layout="column">
    <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <div class="md-toolbar-tools">
          <md-button ng-disabled="true" class="md-primary" data-ng-show="authentication.user">
            <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
            <span md-is-locked-open="$mdMedia('gt-sm')" class="md-body-2" data-ng-bind="authentication.user.displayName"></span>
          </md-button>
        </div>
      </md-toolbar>

      <md-content layout-margin>
        <md-card-actions layout="row" layout-align="end center">

          <md-button class="md-icon-button md-primary" aria-label="Settings" data-ui-sref="settings.profile">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">แก้ไขข้อมูล</md-tooltip>
            <md-icon md-svg-icon="pencil"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-accent" aria-label="Favorite" data-ui-sref="settings.picture">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรูปภาพ</md-tooltip>
            <md-icon md-svg-icon="picture"></md-icon>
          </md-button>
          <md-button class="md-icon-button md-warning" aria-label="More" data-ui-sref="settings.password">
            <md-tooltip md-direction="top" md-visible="tooltipVisible">เปลี่ยนรหัสผ่าน</md-tooltip>
            <md-icon md-svg-icon="key"></md-icon>
          </md-button>
          <md-button ng-click="toggleLeft()" class="md-accent">
            ปิดแถบเมนู
          </md-button>
        </md-card-actions>
        <ul class="nav side-menu">
          <a class="list-group-item" data-ui-sref="home"><h6><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; หน้าหลัก</h6></a>
          <a class="list-group-item" data-ui-sref="mains.list"><h6><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; ค้างชำระ</h6></a>
          <a class="list-group-item" data-ui-sref="mains.create"><h6><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; เพิ่มรายการ</h6></a>
          <a class="list-group-item" data-ui-sref="recipients.list"><h6><i class="fa fa-street-view fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้รับ</h6></a>
          <a class="list-group-item" data-ui-sref="sends.list"><h6><i class="fa fa-child fa-fw" aria-hidden="true"></i>&nbsp; รายชื่อผู้ส่ง</h6></a>
          <a class="list-group-item" data-ui-sref="mains.summary"><h6><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; ประวัติการใช้งาน</h6></a>
          <a class="list-group-item" data-ui-sref="mains.payment"><h6><i class="fa fa-money fa-fw" aria-hidden="true"></i>&nbsp; การเงินย้อนหลัง</h6></a>
        </ul>
      </md-content>

    </md-sidenav>

    <!-- Container #4 Right -->
    <md-content flex id="content" data-ng-show="authentication.user">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>รายชื่อผู้ส่ง<small>เพิ่มรายชื่อผู้ส่งได้ที่นี่!!</small></h2>
            <div class="col-lg-4">
              <div class="input-group">
                <input ng-model="searchText" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
              </div>
            </div>

            <ul class="nav navbar-right panel_toolbox">
              <div class="text-center mtop20">
                <!--<ul class="nav navbar-right panel_toolbox">-->
                  <!--<button type="button" class="btn btn-mg btn-default" ng-click="toggleLeft()">เปิดแถบเมนู</button>-->
                <!--</ul>-->
                <button type="button" class="btn btn-mg btn-default" data-toggle="modal" data-target=".bs-example-modal-lg" data-ui-sref="sends.create">เพิ่มผู้ส่ง</button>
              </div>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                <tr class="headings">
                  <th class="md-caption text-center">รายชื่อผู้ส่ง</th>
                </tr>
                </thead>
                <tbody>
                <tr class="even pointer" data-ng-repeat="recipient in recipients | filter:searchText" data-ng-show="authentication.user._id == recipient.user._id">
                  <td ng-bind="send.created | date:'mediumDate'"></td>
                </tr>
                </tbody>
              </table>
              <div class="alert alert-warning text-center" data-ng-if="sends.$resolved && !sends.length">
                <button type="button" class="btn btn-mg btn-warning" data-toggle="modal" data-target=".bs-example-modal-lg" data-ui-sref="sends.create">ยังไม่มีชื่อในระบบ... คลิกเพื่อเพิ่มรายชื่อผู้รับ</button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 profile_details" data-ng-repeat="send in sends | filter:searchText" data-ng-show="authentication.user._id == send.user._id">
            <div class="well profile_view">
              <div class="col-sm-12">
                <div class="left col-xs-12">
                  <ul class="list-unstyled">
                    <h2><li><i class="fa fa-user"></i>&nbsp;<span class="md-headline" ng-bind="send.name"></span></li></h2>
                    <li><i class="fa fa-key fa-fw"></i>&nbsp;<span class="md-subhead" ng-bind="send.idNumber"></span></li> <br />
                    <li><i class="fa fa-building"></i> ที่อยู่:&nbsp;<span ng-bind="send.address"></span></li>
                    <li>อำเภอ:&nbsp;<span ng-bind="send.ampher"></span></li>
                    <li>จังหวัด:&nbsp;<span ng-bind="send.country"></span></li>
                    <li>ไปรษณีย์:&nbsp;<span ng-bind="send.postcode"></span></li>
                    <li><i class="fa fa-phone"></i> โทร:&nbsp;<span ng-bind="send.tel"></span> </li>
                    <li><i class="fa fa-mail"></i> อีเมลล์:&nbsp;<span ng-bind="send.email"></span> </li>
                    <li><i class="fa fa-calendar"></i> วันที่:&nbsp;<span ng-bind="send.created | date:'mediumDate'"></span></li>
                    <li>สินค้า:&nbsp;<span ng-bind="send.product"></span></li>
                  </ul>
                </div>
                <!--<div class="right col-xs-5 text-center">-->
                <!--<img src="images/img.jpg" alt="" class="img-circle img-responsive">-->
                <!--</div>-->
              </div>
              <div class="col-xs-12 bottom text-center">
                <div class="col-xs-12 col-sm-6 emphasis"></div>
                <div class="col-xs-12 col-sm-6 emphasis">
                  <a class="btn btn-info btn-xs" data-ui-sref="sends.edit({sendId: send._id})"><i class="fa fa-pencil"></i> แก้ไข </a>
                  <a class="btn btn-danger btn-xs" data-ng-click="remove(send);"><i class="fa fa-trash-o"></i> ลบ</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center form-group">
        <ul uib-pagination total-items="sends.length" items-per-page="pageSize" ng-model="currentPage" ng-change="pageChanged()"></ul>
      </div>
    </md-content>
  </div>
</div>


