<section class="row" data-ng-controller="EditProfileController">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
      <fieldset>
        <div class="page-header">
          <h1>เปลี่ยนข้อมูลประจำตัว</h1>
        </div>
        <div class="form-group">
          <label for="firstName">ชื่อ</label>
          <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="ชื่อ">
        </div>
        <div class="form-group">
          <label for="lastName">นามสกุล</label>
          <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="นามสกุล">
        </div>
        <div class="form-group">
          <label for="email">อีเมลล์</label>
          <input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="อีเมลล์">
        </div>
        <div class="form-group">
          <label for="username">ชื่อผู้ใช้บริการ</label>
          <input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="ชื่อผู้ใช้บริการ">
        </div>
        <div class="form-group">
          <label for="username">เลขบัตรประชาชน</label>
          <input type="text" id="idNumber" name="idNumber" class="form-control" data-ng-model="user.idNumber" placeholder="เลขบัตรประชาชน">
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-lg btn-primary">Save Profile</button>
        </div>
        <div data-ng-show="success" class="text-center text-success">
          <strong>Profile Saved Successfully</strong>
        </div>
        <div data-ng-show="error" class="text-center text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
