<div data-ng-controller="AuthenticationController">
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4 login-form-bg">
    <h3 class="text-center">เข้าสู่ระบบ</h3>
    <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
      <fieldset>
        <alert type="danger" data-ng-show="error" class="text-center text-danger">
          <span data-ng-bind="error"></span>
        </alert>
        <div class="form-group">
          <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1">
            <i class="glyphicon glyphicon-user"></i>
          </span>
            <input type="text" id="username" name="username" class="form-control"
                   data-ng-model="credentials.username" placeholder="Username" aria-describedby="basic-addon1">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
          <span class="input-group-addon" id="basic-addon1">
            <i class="glyphicon glyphicon-asterisk"></i>
          </span>
            <input type="password" id="password" name="password" class="form-control"
                   data-ng-model="credentials.password" placeholder="Password" aria-describedby="basic-addon1">
          </div>
        </div>
          <div class="text-center form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">เข้าสู่ระบบ</button>
          </div>
        <div class="text-center form-group">
          <button class="loginBtn loginBtn--facebook" ng-click="callOauthProvider('/api/auth/facebook')">
            Login with Facebook
          </button>

          <button class="loginBtn loginBtn--google" ng-click="callOauthProvider('/api/auth/google')">
            Login with Google
          </button>
        </div>
        <div class="text-center forgot-password">
          <a data-ui-sref="password.forgot">ลืมรหัสผ่าน</a>
          <a data-ui-sref="authentication.signup">สมัครสมาชิก</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
