<div data-ng-controller="AuthenticationController">
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4 login-form-bg">
    <h3 class="text-center">สมัครสมาชิก</h3>
    <form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="basic-addon1">
              <i class="glyphicon glyphicon-star"></i>
            </span>
            <input type="text" required id="firstName" name="firstName" class="form-control"
                   data-ng-model="credentials.firstName" placeholder="ชื่อ">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="basic-addon1">
              <i class="glyphicon glyphicon-star-empty"></i>
            </span>
            <input type="text" id="lastName" name="lastName" class="form-control"
                   data-ng-model="credentials.lastName" placeholder="นามสกุล">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="basic-addon1">
              <i class="glyphicon glyphicon-envelope"></i>
            </span>
            <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email"
                   placeholder="อีเมลล์">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="basic-addon1">
              <i class="glyphicon glyphicon-envelope"></i>
            </span>
            <input type="tel" id="tel" name="tel" class="form-control" data-ng-model="credentials.tel"
                   placeholder="เบอร์โทรศัพท์">
          </div>
        </div>
        <div
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="basic-addon1">
              <i class="glyphicon glyphicon-user"></i>
            </span>
            <input type="text" id="username" name="username" class="form-control"
                   data-ng-model="credentials.username" placeholder="ชื่อผู้ใช้">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="basic-addon1">
              <i class="glyphicon glyphicon-asterisk"></i>
            </span>
            <input type="password" id="password" name="password" class="form-control"
                   data-ng-model="credentials.password" placeholder="รหัสผ่าน">
          </div>
        </div>
        <!--<alert type="danger" data-ng-show="error" class="text-center text-danger">-->
          <!--<span data-ng-bind="error"></span>-->
        <!--</alert>-->
        <div class="text-center form-group">
          <button type="submit" class="btn btn-success btn-lg btn-block">สมัครสมาชิก</button><br />
          <button class="loginBtn loginBtn--facebook" ng-click="callOauthProvider('/api/auth/facebook')">
            Login with Facebook
          </button>

          <button class="loginBtn loginBtn--google" ng-click="callOauthProvider('/api/auth/google')">
            Login with Google
          </button>
        </div>
        <div class="text-center forgot-password">
          <a data-ui-sref="authentication.signin">คลิกเพื่อ.. เข้าสู่ระบบ</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
